@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 100;
  src: local('Amaranth Thin'), local('Amaranth-Thin'), url(../fonts/amaranth/amaranth-bold-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 300;
  src: local('Amaranth Light'), local('Amaranth-Light'), url(../fonts/amaranth/amaranth-italic-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  src: local('Amaranth'), local('Amaranth-Regular'), url(../fonts/amaranth/amaranth-regular-webfont.woff2) format('woff2');
}
