
body {
	background-image: url(../img/back.jpg);
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat, repeat;
    overflow: hidden;	
}

body.plain {
	background-image: url(../img/back-hue.jpg), url(../img/back-all-hue.jpg);
}

blockquote {
	background: rgba(20,0,0,0.5);
}

h1, h2, h3, h4, h5, h6 {
	font-family:beaufort;
}

li{
	list-style:none
}

a:hover, a:active, a:visited {
	outline:none !important;
	text-decoration:none
}

/*
*, *:hover{
    transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

*:active, .content .main .latest-news li div{
    transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
}
*/

.left{
	float:left !important;
}

.right{
	float:right !important;
}

.border-radius{
	border-radius:4px
}

.no-pad{
	padding:0 !important;
}

header{
	height: auto;
}

.gold {
	color:#1661A1!important;
}

.dark-gold{
	color: #C3BABC;
}

.light-gold{
	color:#6D7083;
}

.text-shadow{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	/*text-shadow:1px 1px 1px #000;*/
}

.logo{
	/*background-image:url(../img/logo.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;*/
	height:550px;
	/*margin-top:234px;*/
	margin-left:-8%;
}

.social-stripe {
	position: fixed; 
	left: 2px; 
	top: 40%; 
	z-index: 9999;
}

.social-stripe a {
	display: block;
}

.menu, .menu-inside, .sub-menu{
	background-color:#161616;
	box-shadow:inset 0 3px 3px -3px #666, inset 0 -1px 1px -1px #666, inset 0 0 50px #000, 0 0 20px #000;
	height:auto;
	background-image:url(../img/back-menu.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.lower-resolutions .menu, .lower-resolutions .menu-inside{
	background-image:none;
}

.menu{
	padding-top:7px !important;
}

.menu nav{
	margin:0;
}

.menu a {
	text-transform: uppercase;
}

.menu-inside{
	z-index:999;
	font-size:14px;
	text-transform:uppercase;
}

.menu-inside a{
	padding: 20px 3%;
    display: inline-block;
	font-weight: 600;
	color:rgb(154, 147, 148)!important;
}

.menu-inside a:hover{
	color:rgb(204, 198, 198)!important;
}

.sub-menu{
	font-size: 12px;
	margin-top:-1px;
	background-color:#222;
	height:0;
	z-index:998;
}

.sub-menu:hover{
	cursor:default;
}

.sub-menu a{
	padding:8px;
	font-weight: bold;
	color:#6D7083!important;
	display:inline-block;
	text-transform: initial;
}

.sub-menu a:hover{
	text-shadow:1px 1px 1px #000, 0px 0px 10px #fff;
}

.bless-classes{
	position:absolute;
}

.bless-classes, .bless-races{
	opacity:0;
	visibility:hidden;
}

.slider-type{
	background-color:#161616;
	margin-top:-1px;
	overflow:hidden;
	box-shadow:0 0 10px #000;
}

.slider-type ul{
	margin:0;
	background-color:#161616;
}

.slider-type .aside{
	z-index:99;
}

.slider-type .aside .item .pic, .latest-news .pic-thumb{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	height:50px;
	width:50px;
	box-shadow:inset 0 0 10px #000, inset 0 0 10px #000, inset 0 0 10px #000, inset 0 0 20px #000;
}

.slider-type .aside .item{
	box-shadow:inset 0 0 3px #555, inset 0 0 100px #000, 0 0 20px #000;
	padding:12px;
	margin-bottom:1px;
	z-index:99;
	overflow:hidden;
}

.slider-type .aside .wrap-shadow{
	box-shadow: inset -30px 0 30px 0px #14171B;
	position:absolute;
	height:72px;
	z-index:98;
	top:1px;
	left:0;
}

.slider-type .aside .item .text{
	font-size:12px;
	margin-top:5px;
}

.slider-type .aside .item .title{
	text-transform:uppercase;
	font-weight:bold;
	white-space:nowrap;
}

.slider-type .aside a:hover .title, .selected .title{
	color:#6D7083!important;
	text-shadow:1px 1px 1px #000, 0 0 9px rgba(236, 235, 230, 0.58);
}

.slider-type .aside .item .date{
	color:#fff;
	text-transform:uppercase;
}

.slider-type .main{
	height:300px;
	transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}

.slider-type .main .title{
	font-size:24px;
	position:absolute;
	bottom:0;
	padding:10px 20px;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	transition: all 750ms ease-in-out;
    -o-transition: all 750ms ease-in-out;
    -moz-transition: all 750ms ease-in-out;
    -webkit-transition: all 750ms ease-in-out;
}

.slider-type .main li{
	border:4px solid #161616;
	height:300px;
	box-shadow: inset 0 -150px 100px -65px #000;
	overflow:hidden;
}

.main .pic{
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	box-shadow:0 0 3px #000;
}

.content{
	background-color:#090909;
	box-shadow:inset 0 0 10px #333, inset 0 0 100px #000, 0 0 20px #000;
	padding:5px
}

.content .first, .content .news .posts{
	padding:25px 35px;
}

.content .main .latest-news{
	margin:0;
	background-color:#0D0E0F;
}

.content .main .latest-news .back-thumb{
	display:none;
	height:auto;
	overflow:hidden;
}

.content .main .latest-news .back-thumb-active{
	height:auto;
}

.content .main .latest-news li{
	padding:15px 35px;
	box-shadow: 0 2px 2px -2px #333;
}

.content .main .latest-news li:hover{
	cursor:pointer;
}

.content .main .title{
	margin-bottom:5px
}

.main-title{
	font-size:16px
}

.creator{
	font-size:13px
}

.content .main .pic{
	border:2px solid #161616;
	height:200px
}

.content .main .text, .single .text{
	margin-top:10px;
	color:#838383;
	text-align:justify;
	font-size:14px;
	line-height: 19px;
}

.single{
	padding:15px 30px;
}

.single img{
	max-width:100%;
	height:auto;
}

iframe{
	max-width:100%;
}

.single .main-title{
	font-size:29px;
}

.single .creator{
	text-align:right;
}

.single .text{
	font-size:14px;
	border-top:solid 1px #333;
	border-bottom:solid 1px #333;
	padding:10px 0;
}

.side-bar{
	background-color:#111;
	/*box-shadow:inset 0 0 1px #999, inset 0 0 10px #000*/
	/*border-left:1px solid rgba(255, 255, 255, 0.15);
	border-right:1px solid rgba(255, 255, 255, 0.15);*/
	box-shadow:inset 4px 0 30px #000;
	background-image:url(../img/back-side-bar.png);
	background-repeat:repeat;
	background-position: top center;
}

.side-bar .main-title{
	/*padding:20px 0 15px 15px;*/
	padding:22px;
	font-size:18px;
	text-transform:uppercase;
	/*box-shadow:inset 0 -15px 15px -15px #bc3700, inset 0 1px 1px -1px #333, 0 0 10px #000, inset -30px 0 30px -30px #333, inset 30px 0 30px -30px #333;*/
	box-shadow:inset 0 -15px 15px -15px #00AEBC, 0 -10px 10px -10px #000, 0 10px 10px -10px #000, 0 -10px 10px -10px #000, 0 10px 10px -10px #000;
	/*border-left:1px solid #333;
	border-right:1px solid #333;
	border-bottom:1px solid #bc3700;*/
	z-index:9;
	background-image:url(../img/back-title.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.community .posts, .side-bar ul{
	margin: 10px 0;
}

.community .posts .text, .side-bar ul .text{
	overflow: hidden;
}

.side-bar .wrap-shadow{
	height: 85%;
	position: absolute;
	box-shadow: inset -15px 0 20px 0px #111;
	z-index: 9;
	top:2px;
	left:0
}

.side-bar .community .wrap-shadow{
	box-shadow: inset -15px 0 20px 0px #131213;
}

.side-bar .latest-news .wrap-shadow{
	width:98%;
}

.side-bar .pages .text .title, .side-bar .latest-news .text .title{
	margin-left:10px;
}

.community .posts a:hover .title, .side-bar a:hover .title{
	color:#5573B3;
	text-shadow:1px 1px 1px #000, 0px 0px 10px rgba(227, 164, 63, 0.5);
}

.community .posts a{
    padding: 5px 20px;
    padding-bottom: 10px;
	box-shadow: 0 2px 2px -2px #333;
}

.side-bar .latest-news a{
	padding:10px 15px;
	box-shadow: 0 2px 2px -2px #333;
}

.side-bar .pages a{
	padding:10px 0;
}

.side-velvet {
	background-image: url(../img/sidebar.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	height: 550px;
	padding: 1em;
}

.side-velvet img {
	width: 100%;
}

.community .posts a:last-child, .side-bar .latest-news .posts a:last-child{
	box-shadow:none;
}

.community .title, .side-bar .text .title{
	margin:5px 0;
	font-weight:bold;
	white-space: nowrap;
}

.community .title::first-letter{
	text-transform:capitalize;
}

.community .date{
	color:#6a6a6a;
	font-size:13px;
	font-style:italic;
}

.community .author{
	font-style:normal;
}

.fi-comments, .read-more, .pagination li{
	width:auto;
	font-size:20px;
	margin-top: 12px;
	color:#666;
	/*background-color:#24242c;*/
	padding:2px 15px 0 15px;
	/*box-shadow:0 0 5px #000, inset 0 0 5px #333, inset 0 0 10px #000;*/
	box-shadow:0 0 10px #000;
	background-image:url(../img/back-post.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.fi-comments {
    width: auto;
    font-size: 20px;
    margin-top: 9px;
    color: #666;
    position: absolute;
    right: 15px;
    z-index: 10;
    /* background-color: #24242c; */
    padding: 2px 15px 0 15px;
    /* box-shadow: 0 0 5px #000, inset 0 0 5px #333, inset 0 0 10px #000; */
    box-shadow: 0 0 10px #000, -5px 0 10px 5px #131213;
    background-image: url(../img/back-post.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.facebook .iframe{
	height:auto;
	padding:0px;
}

.facebook iframe{
	width:100%;
	height:200px;
}

._42ef{
	margin-left:5px;
}

.mhs{
	margin-left:0;
	margin-right:0;
}

.pluginBoxDivider{
	border:none;
	box-shadow: 0 1px 1px -1px #333;
}

._8r{
	margin-right: 10px;
}

.pluginSkinDark a{
	color: #eb5012;
	text-transform: uppercase;
}

.pluginConnectTextDark a{
	color: #888;
	text-transform: none;
}

.plm{
	padding-left: 20px;
}

.entry-content {
	text-align: center;
}

.entry-content  p {
	text-align: left;
}

.entry-content table, .entry-content table td {
	border: none!important;
}

.latest-media .video{
	height:225px;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	box-shadow:inset 0 0 5px #333, inset 0 0 30px #000, inset 0 0 30px #000, inset 0 0 30px #000, inset 0 0 50px #000;
}

.latest-media .button-media{
	background-color:#14141c;
	color:#6D7083;
	font-weight:bold;
	font-size:16px;
	padding:10px 0;
	text-align:center;
	/*box-shadow:0 0 25px #000, inset 0 0 5px #333, inset 0 0 10px #000;*/
	box-shadow:0 0 20px #000;
	background-image:url(../img/back-media.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:top center;
}

.latest-media a:hover .button-media{
	/*box-shadow:0 0 25px #000, inset 0 0 5px #333, inset 0 0 30px #000;*/
	text-shadow:1px 1px 1px #000, 0px 0px 30px rgba(255, 189, 69, 0.8);
}

.menu-bottom{
	margin-top:10px;
}

.menu-bottom a{
	padding: 7px 0;
	overflow:hidden;
}

.bless-icon{
	/*background-color:#24242c;*/
	background-image:url(../img/bless-icon.png), url(../img/back-bottom-menu.png);
	background-repeat: no-repeat, no-repeat;
	/*background-size: cover;*/
	background-position:center center, top center;
	width:35px;
	height:30px;
	/*box-shadow:0 0 5px #000, inset 0 0 5px #333, inset 0 0 10px #000;*/
	box-shadow:0 0 5px #000;
	z-index:99;
}

.menu-bottom a:hover .bless-icon, .side-bar .pages a:hover .bless-icon, .side-bar .latest-news a:hover .bless-icon{
	background-image:url(../img/bless-icon-active.png), url(../img/back-bottom-menu.png);
}

.menu-bottom .title, .side-bar .pages .title{
	color:#eb5012;
	font-weight:bold;
	text-transform:uppercase;
	white-space:nowrap;
	margin-top:7px;
	padding-left:10px;
}

.menu-bottom a:hover .title, .side-bar .pages a:hover .title{
	color:#eb5012;
	text-shadow:1px 1px 1px #000, 0px 0px 20px #bc3700;
}

.copyright, .copyright a{
	color:#8b0501;
	font-size:12px;
	font-weight:bold;
	padding:15px 0;
	font-style:italic;
}

.copyright a:hover{
	text-decoration:underline;
}

.news .posts{
	box-shadow:inset 0 75px 75px -75px #181818;
}

.main .news .pic{
	width: 220px;
	height: 170px;
	margin: 0 15px 15px 0;
}

.read-more{
	text-transform:uppercase;
	font-size: 11px;
	padding: 7px 10px;
	color: #c5c5c5;
	position:absolute;
	bottom: -16px;
	left: 55px;
	font-weight:bold;
	box-shadow:0 0 10px #000;
	background-image:url(../img/back-read.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:top center;
}

.main .latest-news .read-more{
	left:0;
	bottom:0;
	position:relative;
	margin-top:10px;
}

.pagination{
	background-color:#111;
	text-align:center;
	margin: 0;
	border-radius:0;
	padding: 12px 0 10px 0;
	box-shadow: inset 0 3px 3px -3px #333, inset 0 50px 50px -50px #000;
}

.pagination:hover{
	cursor:default;
}

.pagination li{
	color:#c5c5c5;
	font-size:12px;
	display: inline;
	margin:0 5px;
	padding:7px 15px;
	background-image:url(../img/back-pagination.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}

.news .posts a:hover .read-more, .pagination a:hover li, .pagination .current, .menu-bottom a:hover .bless-icon, .community .posts a:hover .fi-comments, .main .latest-news li:hover .read-more{
	color: #5F89B1;
	/*background-color:#151515;*/
	text-shadow: 1px 1px 1px #000, 0px 0px 20px rgba(227, 164, 63, 0.8);
}

.main .latest-news li:hover .text, .main .latest-news li:hover .main-title{
	color: #A5C6E7;
	text-shadow: 1px 1px 1px #000, 0px 0px 5px rgba(227, 164, 63, 0.5);
}

.lower-resolutions{
	position:absolute;
	top:0;
	left:0;
	width:250px;
	height:100%;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	transition:all 500ms ease-in-out;
	background-color:rgba(0, 0, 0, 0.8);
}

.left-menu .menu, .left-menu .menu-inside, .left-menu .sub-menu{
	background-color:transparent;
	overflow:hidden;
}

.active-canvas{
	height:50px;
	width:50px;
	border-radius:5px;
	background-color:rgba(0, 0, 0, 0.8);
	position:absolute;
	top:0;
	left:0;
	font-size:40px;
	color:#fff;
	box-shadow:0 0 10px #000;
	display:none;
	opacity:0.6;
	z-index:99;
}

.active-canvas-on{
	opacity:1;
}

.active-canvas:hover{
	cursor:pointer;
}

.on-canvas{
	-webkit-transform: translate3d(250px, 0, 0);
	-moz-transform: translate3d(250px, 0, 0);
	transform: translate3d(250px, 0, 0);
	transition:all 500ms ease-in-out;
}

#disqus_thread{
	color: #ffffff;
	border-style: 0px solid;
	border-color: #cccccc;
	padding: 5px;
}

#dsq-content #dsq-comments .dsq-comment-body{
	color: #fff;
	background-color: #000000;
}

.dsq-reaction-body {
	color: #fff;
}

.dsq-reaction-header cite, .dsq-reaction-header span{
	color: #ccc;
}

.dsq-reaction-retweets{
	color: #ccc;
}

@media (max-width:665px){
	.container .menu{
		display:none;
	}
	
	.menu li{
		margin-left:30px;
		display:block;
		float:left;
		width:100%;
	}
	
	.active-canvas{
		display:block;
	}
}

/*___________________________tab-shortcode_______________________________*/
.tabs-shortcode .ui-tabs-nav li{
	background:#222 !important;
}

.tabs-shortcode .ui-tabs-nav li a, .tabs-shortcode.ui-tabs, .tabs-shortcode.ui-tabs .ui-tabs-nav li.ui-tabs-active, .tabs-shortcode.ui-tabs .ui-tabs-nav li.ui-tabs-selected{
	background: transparent !important;
}

.tabs-shortcode.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .tabs-shortcode.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .tabs-shortcode.ui-tabs .ui-tabs-nav li.ui-state-disabled a, .tabs-shortcode.ui-tabs .ui-tabs-nav li.ui-state-processing a, .tabs-shortcode .ui-tabs-nav li a, .tabs-shortcode.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a, .tabs-shortcode.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{
	color: #aaa !important;
}

/*___________________________2p.com HOSTED_______________________________*/


.plain-header {
	font-family: beaufort;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);	
	padding: 5px;
	text-transform: uppercase;
	color: #D3C7A9;
}

.nl-box {
	margin-top: 5em;
	border-radius: 0.25em;
	border-color: #766E4C;
	border: thin solid rgba(246, 183, 54, 0.5);
	background-color: rgba(0, 0, 0, 0.85);
}



/*___________________________Editor's Pick_______________________________*/
#container1{
	width: 300px;
	margin: 0 auto;
}
	
#feed-slider, #feed-slider-counts{
	float:left;
	left: 0;
	right: 0;
	width:100%;
	text-align:center;
	margin-bottom:10px;
}

#feed-slider{
	position:relative;
}

#feed-slider #inner-slider{
	overflow:hidden;
	margin-top:20px;
}

#feed-slider ul{
	position:relative;
	width:30000px !important;
	height:250px;
}

#feed-slider ul, #feed-slider-counts ul{
	width:100%;
	text-align:center;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#feed-slider ul{
	transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
}

#feed-slider ul li, #feed-slider-counts li{
	float: left;
	list-style: none;
}

#feed-slider ul li:hover p.fans-list-title a{
	color: #00AEBC;
	text-shadow: 1px 1px 1px #000, 0px 0px 10px rgba(227, 164, 63, 0.5);
}

#feed-slider ul li{
	margin-top:-17px;
}

#feed-slider ul li p.fans-list-title{
	font-weight:bold;
}

#feed-slider ul li p.fans-list-title a{
	text-decoration:none;
	color:#6D7083;
}

#feed-slider-counts{
	cursor:default;
}
	
#feed-slider-counts li {
	width: 10px;
	height: 10px;
	float:none;
	display:inline-block;
	background: #333;
	border-radius: 100%;
	cursor:pointer;
}

#feed-slider-counts li:hover{
	background: #eb5012;
	box-shadow: 1px 1px 1px #000, 0px 0px 20px #bc3700;
}


.feed-selected{
	background:#eb5012 !important;
}

.control {
	display: block;
	height: auto;
	color:#666;
	font-size:18px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	cursor: pointer;
	text-decoration: none;
	outline: 0;
	border: 0;
	padding: 3px 15px;
	box-shadow: 0 0 10px #000;
	background-image: url(../img/back-post.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	z-index:99;
}

.control.next {
	right: -25px;
}

.control.prev {
	left: -25px;
}

.control.prev .fi-play {
	-webkit-transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	display: block;
}

.control:hover .fi-play{
	color: #e3a43f;
	text-shadow: 1px 1px 1px #000, 0px 0px 20px rgba(227, 164, 63, 0.8);
}

/* Estilos */

.editors-pic {
    border-bottom: 1px solid #343434;
}

/* Footer */

.seal{
	height:17px; 
	width:17px; 
	/*position:absolute; 
	right:30px; 
	bottom: 8px; 
	background-image:url(../img/bless-icon-active.png);*/
}
.banners{
    margin-top: 15px;
}

.banners .banner-1, .banner-2, .banner-3{
    background-color: rgba(0,0,0,0.8);
    display: block;
    height: 134px;
    width: 352px;
    -webkit-transition:opacity,0.3s;
    -moz-transition:opacity,0.3s;
    -o-transition:opacity,0.3s;
    transition:opacity,0.3s;
    opacity:0.8;
    margin:0 auto;
}

.banners .banner-1{
    background: url(../img/guiadejuego.png) no-repeat 0 0;
}

.banners .banner-2{
    background: url(../img/ultima-actualizacion.png) no-repeat 0 0;
}

.banners .banner-3{
    background: url(../img/seguinos.png) no-repeat 0 0;
}

.banners .banner-1:hover, .banner-2:hover, .banner-3:hover{
    opacity:1.0;
}

.banners .caption{
    position: absolute;
    right: 20px;
    bottom: 3px;
    top:116px;
    left: 20px;
    background: linear-gradient(rgba(21,53,88,0.8),rgba(0,0,0,0.8));
    padding: 0;
}

.banners .caption h3 {
    padding: 3px;
    margin: 0;
    background: url(../img/filigree.png) repeat-x top center;
    color: white;
    text-shadow: 0px 0px 5px #0297ff;
    font-size: 21px;
    font-family: "serif6_beta_rgbold",Times,serif;
}