.btn {
    font-family: spiegel;
    border-radius: 0;
}

.menu-featured {
    padding: 5px 10px;
    border-radius: 0;
    background-color: rgba(2, 12, 22, 0.28);
    border: none;
}

.menu-featured:hover {
    background-color: rgba(24, 92, 160, 0.28);
    border: none;
}

.btn.disabled {
    color:#333;
}

.btn-custom .btn {
    color: #D4D2D2!important;
    text-transform: uppercase;
    font-weight: 400!important;
    border-width: 1px;
    border-style: solid;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);    
    padding: 5px 10px;
    border-radius: 0!important;
    min-width: 40px;
}

.btn-custom .btn:hover {
}

.btn-custom .btn-sm {
    line-height: 1.3em;
}

.btn-custom .btn i {
    float: left;
    text-align: center;
    width: 20px;
}

.btn-custom .btn span {
    float: right;
    text-align: left;
    font-style: italic;
}

.btn-custom .btn-danger {
    background-color: #164290;
    background: linear-gradient(#DB8E01,#902F1D);
    color: #fff;
    border-width: 1px;
    border-color: #A29361 #928456 #5F5940;
    text-shadow: 1px 1px 2px rgba(64, 61, 61, 0.8);
}

.btn-custom .btn-danger:hover {
    background: transparent linear-gradient(#EF9B2A, #942008) repeat scroll 0% 0%;
    /*border-color: #928456;*/
}


.btn-custom .btn-danger.variant1 {
    background-color: #164290;
    background: linear-gradient(#104997,#104997);
    color: #fff;
    border-width: 1px;
    border-color: #616161 #616161 #616161;
    text-shadow: 1px 1px 2px rgba(64, 61, 61, 0.8);
}

.btn-custom .btn-danger.variant1:hover {
    background: transparent linear-gradient(#104997, #104997) repeat scroll 0% 0%;
    /*border-color: #928456;*/
}

.btn-custom .btn-info {
    background: transparent linear-gradient(#1A79CA, #0A243A) repeat scroll 0% 0%;
    color: #BAA27C;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #187277 #3A6668 #0E3F41;
    text-shadow: 1px 1px 2px rgba(64, 61, 61, 0.8);
}

.btn-custom .btn-info:hover {
    background: transparent linear-gradient(#1C86E0,#0C3354) repeat scroll 0% 0%;
    /*background-color:#145B5F;
    background:linear-gradient(#187277,#0d2d2f);
    color:#baa27c*/
}

.btn-custom .btn-success {
    background-color: #164290;
    background: linear-gradient(#104997,#104997);
    color: #fff;
    border-width: 1px;
    border-color: #616161 #616161 #616161;
    text-shadow: 1px 1px 2px rgba(64, 61, 61, 0.8);
}

.btn-custom .btn-success:hover {
    background: transparent linear-gradient(#104997, #104997) repeat scroll 0% 0%;
}

.btn-custom .btn-warning {
    background: transparent linear-gradient(#DB8E01, #871E0A) repeat scroll 0% 0%;
    box-shadow: 1px 1px 9px rgba(135, 30, 10, 0.8) inset, -1px -1px 5px rgba(181, 60, 2, 0.8) inset;
    border-color: #379037;
}

.btn-custom .btn-warning:hover {
    background: transparent linear-gradient(#FEBE49, #B0351E) repeat scroll 0% 0%;
    border-color: #4CAE4C;
}

.btn-dark .btn {
    background: transparent linear-gradient(#161923, #00060A) repeat scroll 0% 0%!important;
    border: 1px solid #525252!important;
    border-radius: 0!important;
    font-size: 15px;
    text-transform: uppercase;
    color:#B5B5B5!important;
}

.btn-dark .btn:hover {
    color:#fff!important;
}

.btn-dark .btn.disabled {
    background: #131313!important;
    color:#797979!important;
}