.dscroll *,
.invisible {
    visibility: hidden
}
.dscroll.dscroll-in * {
    -webkit-animation: slideFadeUp .5s ease both;
    animation: slideFadeUp .5s ease both;
    visibility: visible
}
.dscroll.dscroll-in:nth-child(1) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}
.dscroll.dscroll-in:nth-child(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}
.dscroll.dscroll-in:nth-child(3) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}
.dscroll.dscroll-in:nth-child(4) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}
.dscroll.dscroll-in:nth-child(5) {
    -webkit-animation-delay: .7s;
    animation-delay: .7s
}
.dscroll.dscroll-in:nth-child(6) {
    -webkit-animation-delay: .8s;
    animation-delay: .8s
}
.dscroll.dscroll-in:nth-child(7) {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}
.dscroll.dscroll-in:nth-child(8) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}
.dscroll.dscroll-in:nth-child(9) {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s
}
.dscroll.dscroll-in:nth-child(10) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}
.dscroll.dscroll-in h1.flourish span:after,
.dscroll.dscroll-in h1.flourish span:before,
.dscroll.dscroll-in h2.flourish span:after,
.dscroll.dscroll-in h2.flourish span:before,
.dscroll.dscroll-in h3.flourish span:after,
.dscroll.dscroll-in h3.flourish span:before,
.dscroll.dscroll-in h4.flourish span:after,
.dscroll.dscroll-in h4.flourish span:before {
    -webkit-animation: widthIn .5s ease .2s both;
    animation: widthIn .5s ease .2s both
}
