body {
    color: rgba(221, 235, 241, 0.8);
    font-family: beaufort;
    overflow: hidden;
}
.container-height {
    height: 100%;
    display: table;
}
h1,
.h1 {
    background: url("../img/section-header-background.png") left center no-repeat;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-size: 25px;
    font-size: 2.5rem;
    font-weight: 800;
    height: 108px;
    margin: -22px 0 -10px -68px;
    min-width: 346px;
    padding: 34px 0 0 53px;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4)
}
h2,
.h2 {
    color: #42d0f4;
    font-size: 25px;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}
h3,
.h3,
.npg .npg__dl dt {
    color: #fff;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}
h4,
.h4 {
    color: #061a25;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.1)
}
h5,
.h5 {
    color: #fff;
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)
}
h6,
.h6 {
    color: #fff;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)
}
.body-wrapper p,
.body-wrapper ul,
.body-wrapper li {
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 24px;
    line-height: 2.4rem;
    margin-bottom: 20px
}
.body-wrapper li {
    margin-bottom: 10px
}
a {
    color: #50c46e;
    -webkit-transition: color 0.5s;
    transition: color 0.5s
}
a:hover {
    color: #89d79d
}
em,
i {
    font-style: italic
}
b,
strong {
    color: #fff;
    font-weight: bold
}
.label,
.form-element .form-element-label {
    color: #6b8e9e;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 600
}
.centered {
    text-align: center
}
.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%
}
.column {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 0 15px
}
.column.column-1 {
    width: 25%
}
.column.column-2 {
    width: 50%
}
.column.column-3 {
    position: relative;
    width: 75%;
    z-index: 10
}
.column.column-4 {
    width: 100%
}
.column.first-column {
    padding-left: 0
}
.column.last-column {
    padding-right: 0
}
.column.right-column {
    float: right
}
html,
body {
    height: 100%
}
#hero {
    width: 100%;
    overflow-x: hidden;
    height: 500px;
    display: table-cell;
    vertical-align: middle;
    padding-top: 60px;    
    /*margin-top: -100px;*/
}
h2 {
    color: #eee;
    font-size: 22px;
    margin-bottom: 10px;
}
h3 {
    color: #eee;
    font-size: 18px;
}
h3.header-bg {
    background-color: rgba(255, 255, 255, 0.1);
    height: 36px;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0));
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: inline-block;
    padding: 18px 20px 0 12px;
    min-width: 200px;
    text-align: left
}
h5 {
    font-size: 15px;
    display: inline-block;
    text-shadow: none;
    font-weight: 600;
    color: #eee
}
img {
    width: 100%;
    height: auto
}
.hero-wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    /*margin-top: 40px;*/
    padding: 0 40px;    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.hero-wrapper #hero-header {
    width: 100%;
    background: url("../img/heroes/bevel-separator.png") center bottom no-repeat
    padding-top: 40px;
}
.hero-wrapper #hero-header .header-left-container {
    /*width: 580px;*/
    /*padding-top: 100px;*/
    /*font-size: 100%*/
}
.sigil-box {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 10%;    
    /*max-width: 100px;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle
}
.sigil-box.darkavenger {
    background-image: url("../img/heroes/dark-avenger.png")
}

.hero-wrapper #hero-header .header-right-container {
    width: 786px;
    height: 375px;
    position: absolute;
    top: 0px;
    right: -220px;
    z-index: -1;
    display: none;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain
}

.hero-body-wrapper {
    display: inline-block;
}

.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar {
    /*width: 300px;*/
    /*height: 30px;*/
    border-radius: 6px;
    background: url("../img/heroes/difficulty-bar.png") -2px 0px repeat-x;
    display: inline-block;
    vertical-align: top;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 20px;
    /*position: absolute*/
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-5,
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-4-5,
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-4,
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-3-5,
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-3,
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-2-5,
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-2,
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-1-5,
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-1 {
    position: absolute;
    width: 100%;
    height: 30px;
    z-index: -1;
    background: -webkit-linear-gradient(left, #d58585, #ea0a0a 80%);
    background: linear-gradient(to right, #d58585, #ea0a0a 80%);
    border-radius: 6px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-4-5 {
    width: 90%;
    border-radius: 6px 0 0 6px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-4 {
    width: 80%;
    border-radius: 6px 0 0 6px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-3-5 {
    width: 70%;
    border-radius: 6px 0 0 6px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-3 {
    width: 60%;
    border-radius: 6px 0 0 6px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-2-5 {
    width: 50%;
    border-radius: 6px 0 0 6px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-2 {
    width: 40%;
    border-radius: 6px 0 0 6px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-1-5 {
    width: 30%;
    border-radius: 6px 0 0 6px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .fill-difficulty-bar-1 {
    width: 19%;
    border-radius: 6px 0 0 6px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .num-contain {
    position: relative;
    width: 100%;
    height: 22px;
    padding-top: 5px;
    z-index: 1;
    font-size: 100%
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .difficulty-bar .num-contain li {
    display: inline-block;
    width: 60px;
    text-align: center;
    font-size: 16px;
    /*font-size: 1.7rem;*/
    font-weight: 600
}

.hero-wrapper .hero-body-wrapper #hero-details {
    width: 100%;
    padding-top: 40px;
    font-size: 100%;
    text-align: justify
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row {
    width: 50%;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    display: inline-block;
    vertical-align: top
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row h3 {
    margin-bottom: 14px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row h3 span {
    font-weight: 300;
    font-size: 16px;
    font-size: 1.6rem
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .stat-bar-contain {
    width: 100%;
    padding-top: 5px;
    font-size: 100%;
    padding-bottom: 8px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .stat-bar-contain .stat-value {
    width: 50px;
    height: 19px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding-top: 4px;
    display: inline-block
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .stat-bar-contain .stat-bar {
    width: 220px;
    height: 23px;
    border-radius: 6px;
    background: url("../img/heroes/stat-bar.png") -1px 0px repeat-x;
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .stat-bar-contain .stat-bar .fill-attack-damage,
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .stat-bar-contain .stat-bar .fill-attack-range,
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .stat-bar-contain .stat-bar .fill-health,
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .stat-bar-contain .stat-bar .fill-mana,
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .stat-bar-contain .stat-bar .fill-armor {
    position: relative;
    width: 65%;
    height: 23px;
    z-index: -1;
    background: -webkit-linear-gradient(#e4e622, #edee79, #e4e622);
    background: linear-gradient(#e4e622, #edee79, #e4e622);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .stat-bar-contain .stat-bar .fill-attack-range {
    width: 75%;
    background: -webkit-linear-gradient(#d2d2d2, #f8f8f8, #d2d2d2);
    background: linear-gradient(#d2d2d2, #f8f8f8, #d2d2d2)
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .stat-bar-contain .stat-bar .fill-health {
    width: 33%;
    background: -webkit-linear-gradient(#86c066, #ade68e, #86c066);
    background: linear-gradient(#86c066, #ade68e, #86c066)
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .stat-bar-contain .stat-bar .fill-mana {
    width: 52%;
    background: -webkit-linear-gradient(#357dc0, #5b98d1, #357dc0);
    background: linear-gradient(#357dc0, #5b98d1, #357dc0)
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .stat-bar-contain .stat-bar .fill-armor {
    width: 38%;
    background: -webkit-linear-gradient(#d25353, #e17373, #d25353);
    background: linear-gradient(#d25353, #e17373, #d25353)
}

.hero-wrapper .hero-body-wrapper #hero-details .detail-row .passive-wrapper {
    /*padding-bottom: 8px;*/
    width: 100%;
    /*height: 68px;*/
    text-align: center;
    font-size: 100%;
    margin-bottom: 0
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .passive-wrapper .passive {
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    opacity: 0.6;
    width: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}

.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-wrapper {
    /*padding-bottom: 8px;*/
    width: 100%;
    /*height: 68px;*/
    text-align: justify;
    font-size: 100%;
    margin-bottom: 0
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-wrapper .ability {
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    opacity: 0.6;
    width: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}

.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-wrapper .ability.selected {
    box-shadow: 0 7px 4px -6px rgba(0, 0, 0, 0.6);
    opacity: 1
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-wrapper .ability.selected:hover {
    opacity: 1
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-wrapper .ability:hover {
    opacity: 0.8
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-wrapper .ability:last-child {
    margin-right: 0px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-wrapper .ability .keyboard-key {
    background: -webkit-linear-gradient(270deg, #cbd0d3, #abb2b6);
    background: linear-gradient(180deg, #cbd0d3, #abb2b6);
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #454849;
    font-size: 11px;
    /*font-size: 1.3rem;*/
    font-weight: 700;
    height: 18px;
    line-height: 18px;
    margin: -5px 0 0 -5px;
    position: absolute;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7);
    width: 18px;
    z-index: 10;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}

.hero-wrapper .hero-body-wrapper #hero-details .detail-row .passive-description {
    display: none;
    background: rgba(13, 15, 16, 1);
    border-radius: 8px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1)
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .passive-description .description-contain {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    margin-right: 1px;
    width: 100%;
    text-align: left;
    font-size: 100%
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .passive-description .description-contain h5 {
    margin-bottom: 10px
}


.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-wrapper:after {
    content: "";
    display: inline-block;
    width: 100%
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description {
    display: none;
    background: rgba(13, 15, 16, 1);
    border-radius: 8px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1)
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    margin-right: 1px;
    width: 100%;
    text-align: left;
    font-size: 100%
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain h5 {
    margin-bottom: 10px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain .mana-contain {
    font-size: 100%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    float: right
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain .mana-contain .text-box {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    padding-left: 2px;
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain .mana-contain .mana-box {
    display: inline-block;
    width: 20px;
    height: 22px;
    background-size: contain;
    background-image: url("../img/heroes/mana-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain p span {
    font-size: 12px;
    color: #ebec95
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain p:last-child {
    margin-bottom: 5px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .cooldown-contain {
    width: 100%;
    height: 25px;
    background: rgba(24, 28, 31, 1);
    padding: 6px 10px 2px 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain .hp-contain .text-box {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    padding-left: 2px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain h5 {
    margin-bottom: 10px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain .hp-contain {
    font-size: 100%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    float: right
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain .hp-contain .hp-box {
    display: inline-block;
    width: 20px;
    height: 22px;
    background-size: contain;
    background-image: url("../img/heroes/hp-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain p span {
    font-size: 14px;
    color: #ebec95
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain p:last-child {
    margin-bottom: 5px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .cooldown-contain {
    width: 100%;
    height: 25px;
    background: rgba(24, 28, 31, 1);
    padding: 6px 10px 2px 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain .mp-contain .text-box {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    padding-left: 2px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain h5 {
    margin-bottom: 10px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain .mp-contain {
    font-size: 100%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    float: right
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain .mp-contain .mp-box {
    display: inline-block;
    width: 20px;
    height: 22px;
    background-size: contain;
    background-image: url("../img/heroes/mp-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: middle
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain .hp-contain .text-box {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    padding-left: 2px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.2em
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain p span {
    font-size: 12px;
    color: #ebec95
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .description-contain p:last-child {
    margin-bottom: 5px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .cooldown-contain {
    width: 100%;
    height: 25px;
    background: rgba(24, 28, 31, 1);
    padding: 6px 10px 2px 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .cooldown-contain span {
    font-size: 14px;
    font-size: 1.4rem
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description .cooldown-contain .cooldown-value {
    float: right;
    margin-left: 10px
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .ability-description#q-key {
    display: block
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .gearset-wrapper {
    padding-bottom: 10px;
    width: 100%;
    height: 68px;
    text-align: justify;
    font-size: 100%;
    margin-bottom: 0
}
.hero-wrapper .hero-body-wrapper #hero-details .detail-row .gearset-wrapper .gearset-icon {
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 70px;
    opacity: 0.6;
    width: 70px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}

