/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent
}
a:active,
a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: 700
}
dfn {
    font-style: italic
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 1em 40px
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
pre {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: 700
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td,
th {
    padding: 0
}
.ba-slider {
    position: relative;
    overflow: hidden
}
.ba-slider img {
    width: 100%;
    display: block
}
.ba-slider .resize {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden
}
.ba-slider .handle {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -2px;
    cursor: ew-resize
}
.ba-slider .handle:after {
    position: absolute;
    top: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 64px;
    border-radius: 50%
}
.ba-slider .handle.draggable:after {
    line-height: 50px;
    font-size: 30px
}
*,
:after,
:before {
    box-sizing: inherit
}
html {
    box-sizing: border-box
}
body {
    background: #000;
    color: #838383!important;
    font-family: spiegel;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*overflow: hidden;*/
}
@media (min-width: 1500px) {
    body {
        padding-top: 0;
        font-size: 20px
    }
}
canvas {
    display: block
}
.u-h1,
.u-h2,
.u-h3,
.u-h4,
.u-h5,
.u-h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    font-family: beaufort;
    line-height: 1.5;
    font-weight: 400
}
.u-h1,
h1 {
    font-size: 1.8em
}
.u-h2,
h2 {
    font-size: 1.5em
}
.u-h3,
h3 {
    font-size: 1.2em
}
.u-h4,
h4 {
    font-size: .9em
}
.u-h5,
h5 {
    font-size: .7em
}
.u-h6,
h6 {
    font-size: .6em
}
dl,
ol,
p,
ul {
    margin: 0 0 20px
}
a {
    color: #00f;
    text-decoration: none
}
a:active,
a:focus,
a:hover {
    text-decoration: underline
}
img {
    vertical-align: middle;
    margin: 0 0 20px
}
hr {
    margin: 0 0 20px;
    border: solid #bfbfbf;
    border-width: 0 0 1px
}
.o-fullscreen {
    height: 100%;
    width: 100%
}
@media (min-width: 768px) {
    .o-fullscreen\@sm {
        height: 100%;
        width: 100%
    }
}
.o-wrap {
    overflow: hidden
}
.o-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px
}
.o-list-inline,
.o-list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0
}
.o-list-inline>li {
    display: inline-block;
    vertical-align: middle
}
.o-list-inline>li:not(:first-child) {
    padding-left: 10px
}
.o-table {
    display: table
}
.o-table__cell {
    display: table-cell;
    vertical-align: middle
}
.o-square {
    display: block;
    padding-top: 100%;
    width: 100%;
    background: #000;
    position: relative
}
.o-square--rounded {
    overflow: hidden;
    border-radius: 50%
}
.o-square__img {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0
}
.o-island {
    padding-bottom: 25vh
}
.no-cssvhunit .o-island {
    padding-bottom: 50px
}
.c-preloader {
    display: none;
    text-align: center;
    color: #ba9a6f;
    font-size: 100px;
    font-style: italic;
    font-family: spiegel;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100
}
@media (min-width: 768px) {
    .c-preloader {
        display: block
    }
}
.c-preloader__progress {
    text-align: center;
    position: relative
}
.c-preloader__graphic {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px
}
.c-preloader__progress-bar {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    height: 1px;
    -webkit-transition: .3s;
    transition: .3s
}
.c-preloader__progress-bar--left {
    background: -webkit-linear-gradient(right, #6a6353 0, rgba(106, 99, 83, 0) 100%);
    background: linear-gradient(to left, #6a6353 0, rgba(106, 99, 83, 0) 100%);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center
}
.c-preloader__progress-bar--right {
    background: -webkit-linear-gradient(left, #6a6353 0, rgba(106, 99, 83, 0) 100%);
    background: linear-gradient(to right, #6a6353 0, rgba(106, 99, 83, 0) 100%);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center
}
.c-btn {
    display: inline-block;
    padding: .42857em 2.64286em .57143em;
    background: rgba(0, 0, 0, .5);
    border: 1px solid #cafef8;
    color: #cafef8;
    font-family: beaufort;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: .2s;
    transition: .2s
}
.c-btn:active,
.c-btn:focus,
.c-btn:hover {
    background: #000;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(202, 254, 248, .5), inset 0 0 15px rgba(202, 254, 248, .5)
}
.c-btn svg {
    display: inline-block;
    height: 1em;
    fill: currentColor
}
.c-btn--small {
    padding: .35714em .92857em
}
@media (min-width: 1200px) {
    .c-btn--large {
        font-size: 19px
    }
}
.c-btn--block {
    display: block;
    width: 100%
}
.ba-slider .handle {
    background: 0 0;
    width: 0
}
.ba-slider .handle.draggable:after,
.ba-slider .handle:after {
    content: '';
    margin: -37px;
    width: 74px;
    height: 74px;
    background: url(../img/ba-slider-button.png) center no-repeat;
    border: 0;
    box-shadow: none;
    -webkit-transition: none;
    transition: none
}
.c-img-frame {
    display: block;
    padding: 1px;
    background: -webkit-linear-gradient(45deg, #806829 0, #dad5a2 50%, #806829 100%);
    background: linear-gradient(45deg, #806829 0, #dad5a2 50%, #806829 100%);
    position: relative
}
.c-img-frame:after {
    content: '';
    display: block;
    box-shadow: inset 0 0 1em #000;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    -webkit-transition: .3s;
    transition: .3s
}
.c-img-frame--rounded,
.c-img-frame--rounded:after {
    border-radius: 50%
}
.c-img-frame--thick {
    padding: 2px
}
@media (min-width: 1200px) {
    .c-img-frame--thick {
        padding: 3px
    }
}
.c-img-frame--thick:after {
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px
}
@media (min-width: 1200px) {
    .c-img-frame--thick:after {
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px
    }
}
.c-img-frame__img {
    margin: 0;
    width: 100%;
    height: auto
}
.c-img-frame--rounded .c-img-frame__img {
    border-radius: 50%
}
.c-title {
    color: #7ec4b4;
    font-family: beaufort;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center
}
.c-title__fancy-block {
    display: block;
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0;
    text-shadow: 0 0 9px #18ffc6;
    position: relative
}
@media (min-width: 1024px) {
    .c-title__fancy-block {
        font-size: 50px
    }
}
@media (min-width: 1200px) {
    .c-title__fancy-block {
        font-size: 66px
    }
}
.backgroundcliptext .c-title__fancy-block:after {
    content: attr(title);
    width: 100%;
    background: -webkit-linear-gradient(#91ebe0, #6baaa3);
    background-size: auto 1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    position: absolute;
    top: 0;
    left: 0
}
.c-title__maintitle {
    display: block;
    font-size: 18px;
    letter-spacing: .15em
}
@media (min-width: 768px) {
    .c-title__maintitle {
        font-size: 26px
    }
}
.c-title__subtitle {
    display: block;
    font-size: 14px;
    letter-spacing: .25em
}
@media (min-width: 768px) {
    .c-title__subtitle {
        font-size: 20px
    }
}
@-webkit-keyframes panoramic {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    100% {
        -webkit-transform: translateX(calc(100vw - 100%));
        transform: translateX(calc(100vw - 100%))
    }
}
@keyframes panoramic {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    100% {
        -webkit-transform: translateX(calc(100vw - 100%));
        transform: translateX(calc(100vw - 100%))
    }
}
.c-landing {
    padding: 100px 20px 20px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0
}
@media (min-height: 900px) {
    .c-landing {
        height: 100%
    }
}
.c-landing:before {
    content: '';
    display: block;
    background: url(../img/shadow-isles/landing-panoramic.jpg) center no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1
}
.c-landing__header {
    width: 100%;
    text-align: center
}
@media (min-height: 1100px) {
    .c-landing__header {
        height: 66%
    }
}
.c-landing__header-title {
    margin: 0 0 10px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;
    text-shadow: 0 0 15px #18ffc6, 0 0 13px #000, 0 0 25px #000;
    position: relative
}
@media (min-width: 1024px) {
    .c-landing__header-title {
        font-size: 55px
    }
}
@media (min-width: 1500px) {
    .c-landing__header-title {
        font-size: 85px
    }
}
.backgroundcliptext .c-landing__header-title:after {
    content: attr(title);
    width: 100%;
    background: -webkit-linear-gradient(#91ebe0, #6baaa3);
    background-size: auto 1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    position: absolute;
    top: 0;
    left: 0
}
.c-landing__header-subtitle {
    color: #7ec4b4;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400
}
@media (min-width: 1024px) {
    .c-landing__header-subtitle {
        font-size: 26px;
        letter-spacing: .25em
    }
}
@media (min-width: 1500px) {
    .c-landing__header-subtitle {
        font-size: 32px
    }
}
.c-landing__body {
    max-width: 500px;
    margin: auto
}
@media (min-width: 1024px) {
    .c-landing__body {
        max-width: 700px
    }
}
.c-landing__body a {
    color: #7ec4b4;
    text-decoration: none
}
.c-landing__explore {
    padding: 40px 20px;
    width: 100%;
    position: relative
}
@media (min-height: 1100px) {
    .c-landing__explore {
        padding-top: 80px
    }
}
.c-landing__explore-title {
    color: #7ec4b4;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    letter-spacing: .2em;
    position: relative
}
.backgroundcliptext .c-landing__explore-title:after {
    content: attr(title);
    width: 100%;
    background: -webkit-linear-gradient(#91ebe0, #6baaa3);
    background-size: auto 1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    position: absolute;
    top: 0;
    left: 0
}
.c-story {
    position: relative
}
.c-story:after,
.c-story:before {
    content: '';
    display: none;
    width: 100%;
    height: 20%;
    position: fixed;
    left: 0;
    pointer-events: none;
    z-index: 4
}
@media (min-width: 768px) {
    .c-story:after,
    .c-story:before {
        display: block
    }
}
.no-cssgradients .c-story:after,
.no-cssgradients .c-story:before,
.no-pointerevents .c-story:after,
.no-pointerevents .c-story:before {
    display: none
}
.c-story:before {
    background: -webkit-linear-gradient(bottom, transparent 0, #000 90%);
    background: linear-gradient(to top, transparent 0, #000 90%);
    top: 0
}
.c-story:after {
    background: -webkit-linear-gradient(top, transparent 0, #000 90%);
    background: linear-gradient(to bottom, transparent 0, #000 90%);
    bottom: 0
}
.c-story__body {
    position: relative
}
.c-story-section {
    padding: 70% 5% 60px;
    position: relative
}
@media (min-width: 768px) {
    .c-story-section {
        padding: 15vh 45% 15vh 5%;
        position: static
    }
}
@media (min-width: 1200px) {
    .c-story-section {
        padding-right: 55%;
        padding-left: 7.5%
    }
}
@media (min-width: 768px) {
    .c-story-section--last {
        padding-bottom: 160px
    }
}
.c-story-section__graphic {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0
}
@media (min-width: 768px) {
    .c-story-section__graphic {
        display: block
    }
}
body.is-loaded .c-story-section__graphic {
    -webkit-transition: opacity 1s;
    transition: opacity 1s
}
.c-story-section__graphic.is-current {
    opacity: 1
}
.c-story-section__content {
    position: relative;
    z-index: 1
}
.c-story-link {
    display: none;
    color: #607b78;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .2em;
    word-spacing: .2em;
    text-align: center;
    position: relative;
    z-index: 20
}
@media (min-width: 768px) {
    .c-story-link {
        display: block
    }
}
.c-story-link:active,
.c-story-link:focus,
.c-story-link:hover {
    text-decoration: none
}
.c-story-link:active:after,
.c-story-link:focus:after,
.c-story-link:hover:after {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%)
}
.c-story-link:after {
    content: '';
    margin: 10px -8px;
    width: 15px;
    height: 9px;
    position: absolute;
    left: 50%;
    -webkit-transition: .3s;
    transition: .3s
}
.c-story-link--previous {
    margin: 60px 0 0
}
.c-story-link--previous:after {
    background: url(../img/shadow-isles/arrow-previous.png);
    bottom: 100%
}
.c-story-link--next {
    margin: 60px 0 0
}
.c-story-link--next:after {
    background: url(../img/shadow-isles/arrow-next.png);
    top: 100%
}
.c-champions {
    text-align: center
}
.c-champions__list {
    display: inline-block;
    text-align: center
}
.c-champions__item {
    display: inline-block;
    padding: 0 10px;
    width: 32%;
    -webkit-transition: .2s;
    transition: .2s
}
@media (min-width: 768px) {
    .c-champions__item {
        width: 24%
    }
}
.c-champions__list:hover .c-champions__item:not(:hover) {
    -webkit-filter: brightness(.5);
    filter: brightness(.5)
}
.no-cssfilters .c-champions__list:hover .c-champions__item:not(:hover) {
    opacity: .5
}
@media (min-width: 768px) {
    .c-champions--five .c-champions__item {
        width: 130px
    }
}
.c-champions__link {
    display: block;
    color: #cbfff9;
    font-weight: 400;
    font-style: italic;
    text-align: center
}
.c-champions__link:active,
.c-champions__link:focus,
.c-champions__link:hover {
    text-decoration: none
}
.c-champions__link-title {
    margin: 5px 0
}
@media (min-width: 768px) {
    .c-dropcap {
        margin-right: .05em;
        font-family: beaufort;
        font-size: 4.4em;
        line-height: .5;
        float: left
    }
}
.c-burnt-title {
    margin-bottom: 40px;
    color: #fff;
    font-family: beaufort;
    font-size: 20px;
    line-height: 1.3125em;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    text-shadow: 0 0 9px #18ffc6, 0 0 16px #00ffba
}
@media (min-width: 480px) {
    .c-burnt-title {
        font-size: 32px
    }
}
.c-frame {
    display: inline-block;
    border: 1px solid #ba9a6f;
    padding: 10px;
    margin: 0 0 20px
}
.c-frame img {
    margin: 0
}
.c-novela {
    position: relative;
    z-index: 0
}
.c-novela__graphic {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: -1
}
.c-novela__graphic-img {
    height: 66vh;
    opacity: 0.7;
}
@media (min-width: 1200px) {
    .c-novela__graphic-img {
        height: auto
    }
}
.c-novela__body {
    padding: 0 20px 200px;
    width: 100%;
    position: relative;
    z-index: 1
}
@media (min-width: 768px) {
    .c-novela__body {
        padding: 0 10% 200px
    }
}
.c-novela__body:after {
    content: '';
    display: none;
    width: 100%;
    height: 20%;
    background: -webkit-linear-gradient(top, transparent 0, #000 90%);
    background: linear-gradient(to bottom, transparent 0, #000 90%);
    position: fixed;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 1
}
@media (min-width: 768px) {
    .c-novela__body:after {
        display: block
    }
}
.no-cssgradients .c-novela__body:after,
.no-pointerevents .c-novela__body:after {
    display: none
}
.c-novela__container {
    position: relative
}
.c-novela-header {
    text-align: center;
    margin: 25vh 0 20px
}
.c-novela-header__chapter {
    margin: 5px 0;
    /*color: #7ec4b4;*/
    color: rgb(126, 176, 196);
    font-size: 12px;
    font-weight: 400
}
@media (min-width: 768px) {
    .c-novela-header__chapter {
        font-size: 20px
    }
}
.c-novela-header__title {
    margin: 0;
    font-size: 24px;
    line-height: 1em;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 0 0 13px #000, 0 0 17px rgba(24, 106, 255, 0.77);
    /*text-shadow: 0 0 13px #000, 0 0 17px #18ffc6;*/
    position: relative
}
@media (min-width: 768px) {
    .c-novela-header__title {
        font-size: 48px
    }
}
.backgroundcliptext .c-novela-header__title:after {
    content: attr(title);
    width: 100%;
    background: -webkit-linear-gradient(#91ebe0, #6baaa3);
    background-size: auto 1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    position: absolute;
    top: 0;
    left: 0
}
.c-novela-footer {
    margin: 60px auto;
    max-width: 900px;
    text-align: center
}
.c-novela-footer__cta-download {
    color: #517a71;
    font-family: spiegel;
    font-size: 18px
}
.c-novela-block {
    overflow: hidden;
    margin: auto;
    max-width: 830px
}
.c-novela-block p {
    font-size: 16px;
    color: #f7f7f7!important;
    text-shadow: 0 0 8px #222;    
}
.c-novela-block__marker {
    margin: 20px auto;
    width: 38px;
    height: 38px;
    border: 1px solid #4b5956;
    border-radius: 50%;
    color: #4b5956;
    line-height: 36px;
    text-align: center;
    position: relative
}
.c-novela-block__marker:after,
.c-novela-block__marker:before {
    content: '';
    display: block;
    margin: 0 20px;
    width: 100px;
    height: 1px;
    position: absolute;
    top: 50%
}
@media (min-width: 768px) {
    .c-novela-block__marker:after,
    .c-novela-block__marker:before {
        width: 300px
    }
}
.c-novela-block__marker:before {
    background: -webkit-linear-gradient(left, transparent 0, #4b5956 100%);
    background: linear-gradient(to right, transparent 0, #4b5956 100%);
    right: 100%
}
.c-novela-block__marker:after {
    background: -webkit-linear-gradient(right, transparent 0, #4b5956 100%);
    background: linear-gradient(to left, transparent 0, #4b5956 100%);
    left: 100%
}
.c-novela-progress {
    display: none;
    opacity: 0;
    position: fixed;
    top: 200px;
    right: 5%;
    bottom: 75px;
    z-index: 2;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}
@media (min-width: 768px) {
    .c-novela-progress {
        display: block
    }
}
body.is-loaded .c-novela-progress {
    opacity: 1
}
.c-novela-progress__bar {
    height: 100%;
    width: 4px;
    border: 1px solid #2e3634;
    border-radius: 1px;
    background: #000
}
.c-novela-progress__bar-meter {
    border-radius: 1px;
    background: #91eadf;
    width: 100%;
    height: 0
}
.c-novela-progress__list-item {
    position: absolute;
    top: 0;
    left: 50%
}
.c-novela-progress__list-marker {
    display: none
}
@media (min-height: 480px) {
    .c-novela-progress__list-marker {
        overflow: hidden;
        display: block;
        margin: -5px;
        width: 10px;
        height: 10px;
        border: 1px solid #4b5956;
        background: #000;
        box-shadow: 0 0 0 1px #000;
        border-radius: 50%;
        color: #000;
        text-align: center;
        font-size: 10px;
        line-height: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transition: .3s;
        transition: .3s
    }
}
@media (min-height: 768px) {
    .c-novela-progress__list-marker {
        margin: -9px;
        width: 18px;
        height: 18px;
        color: #fff;
        line-height: 16px
    }
}
@media (min-height: 900px) {
    .c-novela-progress__list-marker {
        margin: -12px;
        width: 24px;
        height: 24px;
        font-size: 12px;
        line-height: 22px
    }
}
.c-novela-progress__list-marker.is-active,
.c-novela-progress__list-marker:focus,
.c-novela-progress__list-marker:hover {
    text-decoration: none;
    border-color: #000;
    background-color: #91eadf;
    box-shadow: 0 0 0 1px #91eadf;
    color: #91eadf
}
@media (min-height: 768px) {
    .c-novela-progress__list-marker.is-active,
    .c-novela-progress__list-marker:focus,
    .c-novela-progress__list-marker:hover {
        color: #000
    }
}
.c-page {
    position: relative;
    z-index: 0
}
.c-page__mobile-hero {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}
@media (min-width: 768px) {
    .c-page__mobile-hero {
        display: none
    }
}
.c-page__body {
    position: relative;
    z-index: 1
}
@media (min-width: 768px) {
    .c-page__body {
        visibility: hidden
    }
}
@media (min-width: 768px) {
    body.is-loaded .c-page__body {
        visibility: visible
    }
}