/* HTML *********************************/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html, body {
	/*min-width: 1024px;*/
    /*min-height: 768px;*/
	margin: 0;
	padding: 0;
	height: 100%;
	background: #000;
}
section {
	width: 100%;
	height: 100%;
	/*max-width: 1920px;*/
	/*background: #ccc;*/
	background-position: 50% 100%;
	background-size: cover;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
/*section:nth-child(2n+2) {background: #fff}*/ /* TEMP */

a {
	outline: 0;
}
:focus {
	-moz-outline-style: none;
}
/*p, span, table {
	font: 15px/24px beaufort, sans-serif;
}*/
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
video {
	height: 100%;
}
/****************************************/

/* Utils ********************************/
.border-box {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.desaturate {
	filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.table {
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	z-index: 50;
}
.table-row {
	display: table-row;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.transition {
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	-o-transition: 0.2s;
}
.transparent-bg-overlay {
	width: 100%;
	height: 100%;
	background: rgba(14, 15, 17, 0.85);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.vertical-bottom {
	vertical-align: bottom;
}
#db-container {
	z-index: 500;
}
/****************************************/

/* To Official Site *********************/
.go-to-official-site {
	position: absolute;
	bottom: 66px;
	right: 50px;
	z-index: 210;
}
.go-to-official-site a {
	color: rgba(255, 255, 255, 0.40);
	display: block;
	text-align: right;
	text-decoration: none;
	/*text-shadow: 1px 1px 1px #000;*/
	font: italic 13px/13px Georgia, serif;
}
.go-to-official-site .dont-show {
	margin-top: 8px;
	padding: 3px 12px 8px;
	font: 12px/1px Beaufort, Arial, Helvetica, sans-serif;
	opacity: 0;
	background: #fff;
	/*box-shadow: 0 0 4px #553a49;*/
	border: 1px solid #d7d6d9;
	color: #7e7e7e;
	-webkit-transition: 0.3s opacity;
	-moz-transition: 0.3s opacity;
	-ms-transition: 0.3s opacity;
	transition: 0.3s opacity;
}
.go-to-official-site:hover .dont-show {
	opacity: 1;
}
.go-to-official-site input[type="checkbox"] {
	position: relative;
	top: 3px;
	right: 4px;
}
/****************************************/

/* Main Contents ************************/
/* Global */
.contents {
	height: 100%;
}
.contents .copy {
	max-width: 0;
}
.main-content {
	width: 780px;
	margin: 0 auto;
}
.img-header {
	padding: 0 0 20px;
}
.btn-youtube {
	display: inline-block;
	/*box-shadow: 0px 0px 20px #333;*/
	width: 75px;
	height: 75px;
	background: url('../img/heroes/button_video_youtube_default.png') no-repeat 0 0;
	cursor: pointer;
}
.btn-youtube:hover {
	background: url('../img/heroes/button_video_youtube_hover.png') no-repeat 0 0;
	transform: scale(1.1);
}
/* Sticky Main Nav */
#sticky-nav {
	width: 100%;
	height: 100%;
	max-height: 72px;
	position: fixed;
	top: -152px;
	z-index: 100;
}
#sticky-nav nav {
	max-width: 1920px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
#sticky-nav .logo a {
	width: 290px;
	height: 75px;
	border: none;
	outline: none;
	background: url("../img/heroes/nav_bar_logo.png") no-repeat 0 0;
	position: absolute;
	left: 50px;
	bottom: 67px;
}
#sticky-nav .logo.small a {
	background-position: 0 -68px;
}
#sticky-nav .main-nav {
	background: rgba(0, 0, 0, 0.70);
}
.main-nav li {
	display: inline-block;
	padding: 30px 20px;
}
.main-nav .nav-link > a {
	display: block;
	height: 20px;
	background-image: url("../img/heroes/nav_bar_links.png");
	background-repeat: no-repeat;
	padding: 0 20px;
	overflow: hidden;
	opacity: 0.40;
}
.main-nav .nav-link > a:hover {
	opacity: 1;
}
.main-nav a.story-link {
	width: 62px;
	background-position: 0 0;
}
.main-nav a.features-link {
	width: 89px;
	background-position: -127px 0;
}
.main-nav a.skills-link {
	width: 60px;
	background-position: -275px 0;
}
.main-nav a.zone-link {
	width: 63px;
	background-position: -402px 0;
}
.main-nav a.boss-link {
	width: 46px;
	background-position: -521px 0;
}
.main-nav .active a {
	opacity: 1;
}
#sticky-nav {
	visibility: hidden;
}
#sticky-nav .nav-bottom-ornament {
	width: 1922px;
	height: 73px;
	margin: 0 0 0 -961px;
	background: url("../img/heroes/bottom_ornament.png");
	background-position: 0 0;
	position: relative;
	left: 50%;
}
#sticky-nav .nav-bottom-ornament .hover-area {
	width: 175px;
	height: 63px;
	margin-left: -88px;
	opacity: 0.5;
	/*cursor: pointer;*/
	position: absolute;
	top: 10px;
	left: 50%;
}
#sticky-nav .nav-bottom-ornament.hovered {
/*background-position: 0 -73px;*/
}
#sticky-nav.show-nav {
	top: 0;
}
/* Main Section */
#main {
	color: #fff;
}
#main .main-panel-nav {
	max-width: 1920px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 45px;
}
#main .main-nav {
	width: 100%;
	min-height: 80px;
	position: absolute;
	z-index: 75;
}
#main .main-nav ul {
	text-align: center;
}
#main .go-to-official-site {
	bottom: auto;
	top: 27px;
}
#main .video-bg {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
#main .video-bg video {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
}
#main-top-content {
	width: 861px;
}
.main-section-logo {
	margin: 0 8px;
}
/* Story */
#story {
	background-image: url("../img/heroes/bg/story_section_bg.jpg");
}
#story-content p {
	padding: 0 0 8px;
	color: #fff;
}
/* Features Section */
.feature-sub-panel {
	display: none;
	width: 100%;
	height: 100%;
	background-position: 50% 100%;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
}
#features-content {
	display: none;
	width: auto;
}
#features-img-header {
	padding: 0 0 60px;
}
#feature-tab-container {
	width: 100%;
	max-width: 1085px;
	margin: 0 auto;
}
#feature-tab-container .feature-menu-tabs {
	width: 575px;
}
#feature-tab-container .features-nav-lines {
	display: inline-block;
	width: 100%;
	height: 1px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding: 2px 0;
}
#features-menu {
	padding: 0 0 20px;
}
#features-menu li {
	display: inline-block;
	min-width: 252px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	background: rgba(255, 255, 255, 0);
	margin: 0 8px;
	padding: 10px 0;
	cursor: pointer;
}
#features-menu li.active {
	background: rgba(255, 255, 255, 0.20);
}
#features-menu li span {
	font-size: 18px;
	color: #fff;
}
.feature-text p {
	color: #fff;
}
#feature-text-container {
	position: relative;
	min-height: 260px;
}
#feature-text-container .feature-text {
	width: 562px;
	margin-left: -281px;
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
}
#feature-1 {
	background-image: url("../img/heroes/bg/features_section_bg_level_cap_removed.jpg");
}
#feature-2 {
	background-image: url("../img/heroes/bg/features_section_bg_birth_of_exalted.jpg");
}
/* Skills Section */
.classes ul {
    display: flex;
    justify-content: center;
}

.classes li {
	cursor:pointer;
	display: inline-block;
    width: 150px;
}

.classes a{
	text-decoration:none;
	display: inline-block;
}
.divPrincipal {
    /*width: 150px;*/
}
.divPrincipal p {
    padding-bottom: 10px;
	opacity: 0;
	text-align: center;
	color: #fff;
	font-size: 20px;
	text-shadow: 0 0 5px #000;	
	min-height: 48px;
}

.divPrincipal:hover p {
	opacity:1;
}


#heroes {
	background-image: url("../img/heroes/bg/skills_section_bg.jpg");
}
#skills-main {
	width: 100%;
	height: 100%;
	background-position: 50% 100%;
	background-size: cover;
	color: #fff;
}

.skills-sub-nav ul {
    display: flex;
    justify-content: center;
}
.skills-sub-nav li {
    cursor: pointer;
    padding: 160px 0 0;
    width: 150px;
    display: inline-block;
}
.skills-sub-nav a {
    text-decoration:none;
}
.skills-sub-nav li:last-child {
	/*margin-right: 50px;*/
}
.skills-sub-nav .skills-text-wrapper {
	width: 494px;
	margin: 0 auto;
}

.skills-text-wrapper p {
	font-size: 15px;
	color:#dadada;
}

.icon-container {
    margin-top: 50px;
}

.class-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: url('../img/heroes/icons/all_classes/all_classes_sprite.png') no-repeat top left;
    width: 230px; height: 230px;
    zoom:0.5;
    -moz-transform:scale(0.5);
    -moz-transform-origin: 50% 50%;
}
.skills-sub-nav .class-icon {
    
}
.class-icon span{
    position: absolute;
    width: 230px; height: 230px;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url('../img/heroes/icons/all_classes/all_classes_sprite.png') no-repeat top left;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition:    opacity 0.2s;
    -o-transition:      opacity 0.2s;
    transform: scale(1.1);
}
.path-icon {
    display: inline-block;
    position: relative;
    background: url('../img/heroes/icons/all_classes/all_paths_sprite.png') no-repeat top left;
    width: 230px; height: 230px;
    zoom:0.5;
    -moz-transform:scale(0.5);
    -moz-transform-origin: 50% 50%;
    top: -20px;
}
.path-icon span{
    position: absolute;
    width: 230px; height: 230px;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url('../img/heroes/icons/all_classes/all_paths_sprite.png') no-repeat top left;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition:    opacity 0.5s;
    -o-transition:      opacity 0.5s;
}
.class-icon:hover span, .path-icon:hover span{
    opacity: 1;
}
#skills-mav ul {
	max-width: 1000px;
	margin: 0 auto;
}

.skill-button{
    display:inline-block;
}

.skills-sub-nav .skill-button-text {
	opacity: 0;
	text-align: center;
	color: #fff;
	font-size: 22px;
	text-shadow: 0 0 5px #000;
}

.skills-sub-nav .skill-button:hover .skill-button-text {
	opacity: 1;
}

.warrior-icon {
    background-position: -3005px 0;
}
.warrior-icon span {
    background-position: -3234px 0;
}
.rogue-icon {
    background-position: -1618px 0;
}
.rogue-icon span {
    background-position: -1850px 0;
}
.wizard-icon {
    background-position: -3696px 0;
}
.wizard-icon span {
    background-position: -3927px 0;
}
.summoner-icon {
    background-position: -2313px 0;
}
.summoner-icon span {
    background-position: -2544px 0;
}
.healer-icon {
    background-position: -231px 0;
}
.healer-icon span {
    background-position: 0 0;
}
.archer-icon {
    background-position: -4389px 0;
}
.archer-icon span {
    background-position: -4621px 0;
}
.knight-icon {
    background-position: -924px 0;
}
.knight-icon span {
    background-position: -1155px 0;
}

.dark-avenger-icon {
    background-position: -1380px 0;
}
.dark-avenger-icon span {
    background-position: -1610px 0;
}
.destroyer-icon {
    background-position: 0 0;
}
.destroyer-icon span {
    background-position: -230px 0;
}
.tyrant-icon {
    background-position: -460px 0;
}
.tyrant-icon span {
    background-position: -690px 0;
}
.warlord-icon {
    background-position: -920px 0;
}
.warlord-icon span {
    background-position: -1150px 0;
}
.abyss-walker-icon {
    background-position: -5060px 0;
}
.abyss-walker-icon span {
    background-position: -5290px 0;
}
.gladiator-icon {
    background-position: -3680px 0;
}
.gladiator-icon span {
    background-position: -3910px 0;
}
.plains-walker-icon {
    background-position: -4140px 0;
}
.plains-walker-icon span {
    background-position: -4370px 0;
}
.treasure-hunter-icon {
    background-position: -4600px 0;
}
.treasure-hunter-icon span {
    background-position: -4830px 0;
}
.necromancer-icon {
    background-position: -7130px 0;
}
.necromancer-icon span {
    background-position: -7360px 0;
}
.overlord-icon {
    background-position: -7590px 0;
}
.overlord-icon span {
    background-position: -7820px 0;
}
.spellhowler-icon {
    background-position: -8050px 0;
}
.spellhowler-icon span {
    background-position: -8280px 0;
}
.sorcerer-icon {
    background-position: -8510px 0;
}
.sorcerer-icon span {
    background-position: -8740px 0;
}
.spellsinger-icon {
    background-position: -9200px 0;
}
.spellsinger-icon span {
    background-position: -8970px 0;
}
.warcry-icon {
    background-position: -9430px 0;
}
.warcry-icon span {
    background-position: -6900px 0;
}
.elemental-summoner-icon {
    background-position: -6440px 0;
}
.elemental-summoner-icon span {
    background-position: -6670px 0;
}
.phantom-summoner-icon {
    background-position: -5520px 0;
}
.phantom-summoner-icon span {
    background-position: -5750px 0;
}
.warlock-icon {
    background-position: -5980px 0;
}
.warlock-icon span {
    background-position: -6210px 0;
}
.bishop-icon {
    background-position: -9890px 0;
}
.bishop-icon span {
    background-position: -10120px 0;
}
.blade-dancer-icon {
    background-position: -10350px 0;
}
.blade-dancer-icon span {
    background-position: -10580px 0;
}
.elven-elder-icon {
    background-position: -10810px 0;
}
.elven-elder-icon span {
    background-position: -11040px 0;
}
.prophet-icon {
    background-position: -11270px 0;
}
.prophet-icon span {
    background-position: -11500px 0;
}
.shillien-elder-icon {
    background-position: -11730px 0;
}
.shillien-elder-icon span {
    background-position: -11960px 0;
}
.sword-singer-icon {
    background-position: -12190px 0;
}
.sword-singer-icon span {
    background-position: -9660px 0;
}
.bounty-hunter-icon {
    background-position: -3450px 0;
}
.bounty-hunter-icon span {
    background-position: -1840px 0;
}
.hawkeye-icon {
    background-position: -2070px 0;
}
.hawkeye-icon span {
    background-position: -2300px 0;
}
.phantom-ranger-icon {
    background-position: -2530px 0;
}
.phantom-ranger-icon span {
    background-position: -2760px 0;
}
.silver-ranger-icon {
    background-position: -2990px 0;
}
.silver-ranger-icon span {
    background-position: -3220px 0;
}
.paladin-icon {
    background-position: -13800px 0;
}
.paladin-icon span {
    background-position: -14030px 0;
}
.shillien-knight-icon {
    background-position: -12420px 0;
}
.shillien-knight-icon span {
    background-position: -12650px 0;
}
.temple-knight-icon {
    background-position: -12880px 0;
}
.temple-knight-icon span {
    background-position: -13110px 0;
}
.warsmith-icon {
    background-position: -13340px 0;
}
.warsmith-icon span {
    background-position: -13570px 0;
}



#skills-sub {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
#skills-sub.displaced, #sub-class-menu.displaced {
	left: -99999px;
}
#skills-sub, #skills-sub .skills-classes, #skills-sub .skills-classes .class-skill-details {
	width: 100%;
	height: 100%;
}
#skills-sub .skills-classes .class-skill-details {
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: cover;
}
#skills-sub .skills-classes .class-skill-details .class-skill-icon {
	width: 230px;
	height: 230px;
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0 auto;
	cursor: pointer;
	position: relative;
	z-index: 100;
}
#skills-sub .skills-classes .class-skill-details .transparent-bg-overlay {
	display: none;
	z-index: 99;
}
/* Icon menu for Skills sub panel */
#sub-class-menu {
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 110;
}
#sub-class-menu ul {
	/*
	width: 1440px;
	margin-left: -740px;
	position: relative;
	left: 50%;
	*/
}
#sub-class-menu ul li:nth-child(3) {
}
#sub-class-menu ul li:nth-child(4) {
}
.large-class-icon {
    zoom:1;
    -moz-transform:scale(1);
    -moz-transform-origin: 50% 50%;
}
#skills-sub .skills-classes .class-skill-details .class-description-text {
	color: #dadada;
	font-size: 15px;
	width: 425px;
	min-height: 50px;
	margin: 0 auto;
}
#skills-sub .skills-classes .class-skill-details .class-video {

}
#skills-sub .skills-classes .class-skill-details .see-skill-list-link {
	width: 300px;
	border-top: 1px solid rgba(255, 255, 255, 0.20);
	margin: 0 auto;
	padding-top: 10px;
	cursor: pointer;
}
#skills-sub .skills-classes .class-skill-details .see-skill-list-link:hover {
	text-decoration: underline;
}
#warrior-details {
	background-image: url("../img/heroes/bg/skills_warrior_bg.png");
}
#rogue-details {
	background-image: url("../img/heroes/bg/skills_rogue_bg.png");
}
#wizard-details {
	background-image: url("../img/heroes/bg/skills_wizard_bg.png");
}
#summoner-details {
	background-image: url("../img/heroes/bg/skills_summoner_bg.png");
}
#enchanter-details {
	background-image: url("../img/heroes/bg/skills_enchanter_bg.png");
}
#healer-details {
	background-image: url("../img/heroes/bg/skills_healer_bg.png");
}
#archer-details {
	background-image: url("../img/heroes/bg/skills_archer_bg.png");
}
#knight-details {
	background-image: url("../img/heroes/bg/skills_knight_bg.png");
}
#skills-sub .img-header {
	margin: 0 auto;
}
#warrior-img-header {
	width: 306px;
}
#rogue-img-header {
	width: 215px;
}
#wizard-img-header {
	width: 254px;
}
#summoner-img-header {
	width: 367px;
}
#enchanter-img-header {
	width: 285px;
}
#healer-img-header {
	width: 241px;
}
#archer-img-header {
	width: 262px;
}
#knight-img-header {
	width: 252px;
}
.skill-details {
	text-align: center;
}
.skill-details > h1, .skill-details > p, .skill-details .details-container {
	width: 895px;
	margin: 0 auto;
	position: relative;
}
#skills-prev-next .prev-next {
	z-index: 55;
	color: #fff;
}
.skill-set-container {
	height: 0;
	min-height: 0;
	background: #000;
	padding: 0;
	color: #fff;
}
.skill-set-container.full-height {
	height: auto;
	min-height: 100%;
	padding: 160px 0 30px;
}
.skill-details h1 {
	font-weight: normal;
	font-family: "CartoGothicProLight", sans-serif;
	font-size: 50px;
}
.skill-details p {
	font-size: 17px;
	padding: 20px 0 50px;
}
.skill-details .details-container {
	text-align: left;
	border-top: 1px solid #333;
	padding: 0 10px;
}
.skill-details .back-to-top {
	display: block;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	position: absolute;
	bottom: 60px;
	right: -50px;
	color: #666666;
}
.skill-details .back-to-top:hover {
	color: #fff;
}
.skill-details .back-to-top .top-text {
	font-size: 13px;
	padding-bottom: 3px;
}
#skill-set-list table th {
	font-size: 17px;
	line-height: 26px;
	padding: 10px 0 20px;
	color: #666666;
}
#skill-set-list table td {
	vertical-align: top;
	padding: 0 0 20px 0;
}
#skill-set-list table .detail-profession {
	width: 160px;
	padding-right: 10px;
}
#skill-set-list table .detail-skill-name {
	width: 180px;
	padding-right: 10px;
}
#skill-set-list table .detail-level {
	width: 75px;
	padding-right: 10px;
}
#skill-set-list table .detail-description {
	width: 440px;
}
#skill-set-list table .detail-skill-name img {
	display: inline-block;
	margin: -2px 10px 0 0;
	vertical-align: middle;
}
#skill-set-list table .detail-skill-name div {
	display: inline-block;
	max-width: 125px;
	vertical-align: top;
}
/* Zone Section */
#zone-main {
	height: 100%;
	position: relative;
	z-index: 5;
	color: #fff;
}
.zone-main-bg {
	display: none;
	width: 100%;
	height: 100%;
	background-position: 50% 100%;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
}
#zone-main-atelia-bg {
	background-image: url("../img/heroes/bg/zones_section_bg.jpg");
}
#zone-main-garden-bg {
	background-image: url("../img/heroes/bg/zones_section_bg.jpg");
}
#zone-nav {
	width: 1075px;
	margin-left: -538px;
	position: relative;
	left: 50%;
}
#zone-nav .h2 {
    margin: 40px auto 0;
    text-transform: uppercase;
    color: #fff;
    font-family: beaufort,OpenSans,sans-serif;
    font-size: 2.25em;
    padding-bottom: 30px;
    letter-spacing: 2px;
    text-shadow: 7px 3px 46px rgba(0,0,0,.5);	
}
#zones-tab-container table {
	height: 495px;
}
#zones-tab-container .zone-nav-text-row {
	height: 190px;
}
#zones-tab-container .zone-nav-lines {
	display: inline-block;
	width: 1px;
	height: 150px;
	border-left: 1px solid rgba(255, 255, 255, 0.25);
}
.zone-link {
	width: 345px;
	height: 390px;
	cursor: pointer;
}
#zone-nav-text {
	width: 336px;
	height: 140px;
	color:#fff;
	text-shadow: 0 0 3px rgba(0,0,0,0.8);
	font-family: beaufort;
}
.zone-item {
	display: inline-block;
	vertical-align: middle;
	/*padding: 40px;*/
}
#link-atelia {
	background: url("../img/heroes/zone_nav_atelia.png") no-repeat 0 0;
}
#link-atelia:hover {
	background: url("../img/heroes/zone_nav_atelia_hover.png") no-repeat 0 0;
}
#link-garden {
	background: url("../img/heroes/zone_nav_garden.png") no-repeat 0 0;
}
#link-garden:hover {
	background: url("../img/heroes/zone_nav_garden_hover.png") no-repeat 0 0;
}
.zones-nav a {
	display: inline-block;
	margin: 30px 10px 0;
	cursor: pointer;
}
.zones-nav a:hover {
	transform: scale(1.1);
}
#zone-sub {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#zone-sub .zone-sub-panel {
	visibility: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
}
#zone-sub .zone-sub-panel .zone-text {
	position: relative;
}
#zone-sub .zone-sub-panel .zone-atelia-text p, #zone-sub .zone-sub-panel .zone-garden-text p {
	width: 760px;
	min-height: 80px;
	margin: 0 auto;
	color:#fff;
	text-shadow: 0 0 3px rgba(0,0,0,0.8);
	font-family: beaufort;
}
#zone-sub .expand-zone {
	position: absolute;
	top: 155px;
	right: 30px;
	z-index: 90;
	color: #fff;
	cursor: pointer;
}
#zone-sub .expand-mode {
	z-index: 500;
	position: fixed;
}
#zone-sub .zone-to {
	width: 222px;
	height: 148px;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
	top: -65px;
	cursor: pointer;
}
#zone-sub #to-atelia {
	left: 40px;
}
#zone-sub #to-garden {
	width: 144px;
	right: 40px;
}
#zone-sub #to-atelia {
	background-image: url('../img/heroes/zone_atelia_to.png');
}
#zone-sub #to-atelia:hover {
	background-image: url('../img/heroes/zone_atelia_to_hover.png');
	left: 0;
}
#zone-sub #to-garden {
	background-image: url('../img/heroes/zone_garden_to.png');
}
#zone-sub #to-garden:hover {
	background-image: url('../img/heroes/zone_garden_to_hover.png');
	right: 10px;
}
#zone-sub .transparent-bg-overlay {
	background: rgba(14, 15, 17, 0.50);
}
.gallery-container, .zone-gallery {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.zone-gallery .gallery {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.zone-sub-panel .prev-next {
	display: none;
}
.zone-sub-panel .expand-mode .prev-next {
	display: table;
}
.prev-next-link {
	display: block;
    width: 110px;
    height: 145px;
	/*opacity: 0.40;*/
	cursor: pointer;
}
.prev-next-link:hover {
/*opacity: 1;*/
}
.prev.prev-next-link {
	background: url("../img/heroes/prevnext_prev_default.png") no-repeat 0 0;
	margin-left: 20px;
	float: left;
}
.prev.prev-next-link:hover {
	/*background: url("../img/heroes/prevnext_prev_hover.png") no-repeat 0 0;*/
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;	
}
.next.prev-next-link {
	background: url("../img/heroes/prevnext_next_default.png") no-repeat 0 0;
	margin-right: 20px;
	float: right;
}
.next.prev-next-link:hover {
	/*background: url("../img/heroes/prevnext_next_hover.png") no-repeat 0 0;*/
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;		
}
.close-zone-gallery {
	position: absolute;
	top: 20px;
	right: 20px;
	opacity: 0.40;
	cursor: pointer;
}
.close-zone-gallery:hover {
	opacity: 1;
}
/* Slick Slider */
.slick-list, .slick-track {
	height: 100%;
}
#skill-set-list .slick-list, #skill-set-list .slick-track {
	height: auto;
}
#skills-sub .slick-slider, .skill-set-container .slick-slider {
	-webkit-touch-callout: default;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}
/* Boss Section */
#boss {
	background-image: url("../img/heroes/bg/boss_section_bg.jpg");
}
#boss-content {
	padding-bottom: 160px;
	color: #fff;
}
#boss h2 {
	font-weight: normal;
	font-size: 28px;
	line-height: 45px;
}
/* Sticky Footer */
#sticky-footer {
	width: 100%;
	min-height: 60px;
	text-align: right;
	margin-top: -60px;
	position: relative;
	z-index: 200;
}
#sticky-footer.sticky {
	position: fixed;
	margin-top: 0;
	bottom: 0;
}
#sticky-footer > a, #sticky-footer > div {
	display: inline-block;
}
#sticky-footer .lineage-2-logo-link {
	width: 199px;
	margin: 0 0 0 -100px;
	text-align: left;
	position: absolute;
	left: 50%;
}
#sticky-footer .sns-links {
	margin-right: 26px;
	padding-top: 20px;
}
#sticky-footer .sns-links li {
	display: inline-block;
	padding: 0 6px;
}
#sticky-footer .sns-links a {
	color: #fff;
}
/* fancybox */
.fancybox {
	color: #fff;
}
/****************************************/

/* Footer *******************************/
.page-footer {
	display: block;
	padding-top: 20px;
	background: #000;
}
.page-footer ul.logo-garden {
	margin: 0;
	padding: 0;
	text-align: center;
}
.page-footer ul.logo-garden > li {
	display: inline-block;
}
.page-footer ul.logo-garden > li span, .page-footer ul.logo-garden > li a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.page-footer ul.logo-garden > li.ncsoft a {
	width: 138px;
	height: 102px;
}
.page-footer ul.logo-garden > li.plaync {
	margin-left: 15px;
}
.page-footer ul.logo-garden > li.plaync span {
	width: 103px;
	height: 102px;
}
.page-footer ul.logo-garden > li.l2-logo {
	margin: 0 90px;
}
.page-footer ul.logo-garden > li.l2-logo a {
	width: 204px;
	height: 102px;
}
.page-footer ul.logo-garden > li.esrb a {
	width: 255px;
	height: 102px;
}
.page-footer .copyright {
	margin-top: 20px;
	padding-bottom: 20px;
	font: 11px/1.8em Arial, sans-serif;
	text-align: center;
	color: #c1c1c1;
}
.page-footer .hide-text {
	display: block;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	outline: none;
}
/****************************************/

/* Media Queries ************************/
/* Small - 0 to 640px */
/*@media screen and (min-width: 0) and (max-width: 640px) {}*/

/* medium - 641px to 1024px */
/*@media screen and (min-width: 641px) and (max-width: 1024px) {}*/

/* medium - 1025px to 1440px */
/*@media screen and (min-width: 1025px) and (max-width: 1440px) {}*/

/* large - 1440px to 1920px */
/*@media screen and (min-width: 1441px) and (max-width: 1920px) {}*/


/* FOR MAIN PANEL */
@media screen and (min-width: 0) and (max-width: 980px) {
#main .main-panel-nav {
	width: 960px;
}
}

/* FOR MAIN NAV AND SKILLS NAV */
@media screen and (min-width: 0) and (max-width: 1215px) {
#sticky-nav .logo a {
	transform: scale(0.7);
	left: -35px;
	top: 3px;
}
/*    #main .go-to-official-site {
        right: 10px;
    }*/

#sub-class-menu ul {
	margin-left: -682px;
}
}

@media only screen and (max-height: 720px) {
	#skills-sub .skills-classes .class-skill-details .class-video {
		/*display: none;*/
	}

	#skills-sub .skills-classes .class-skill-details .class-description-text {
		display: none;
	}

}
/* FOR SKILLS */
@media screen and (min-width: 0) and (max-width: 1040px) {


.skills-text-wrapper {
	padding-top: 80px;
}

#skills-nav ul {
    /*
	max-width: none;
	width: 900px;
	margin: 0 auto;
    */
}

.skills-sub-nav .class-icon {
}
}

/* FOR ZONES*/
@media screen and (min-width: 0) and (max-width: 1100px) {
#zone-nav {
	width: 960px;
	margin-left: -480px;
}
#zone-nav .zone-link {
	transform: scale(0.9);
}
#zone-nav-text {
	width: 300px;
}
#zones-tab-container {
	padding: 0;
}
}
/****************************************/
