* {
    box-sizing: border-box;
}
html {
    font-size: 59%
}
body {
    color: rgba(221, 235, 241, 0.8);
    font-family: beaufort;
    font-weight: 400;
    height: 100%;
    -webkit-font-smoothing: antialiased
}
ol,
ul {
    list-style: none
}

.a-grade,.b-grade,.s-grade {
    margin-left: 5px;
    width: 60px;
    height: 16px;
    display: inline-block;
    padding-left: 18px;
}

.a-grade:before,.b-grade:before,.s-grade:before {
  content: "Grade";
}

.a-grade {
    background: url(../img/items/agrade.jpg) left 0 no-repeat;
}

.b-grade {
    background: url(../img/items/bgrade.jpg) left 0 no-repeat;   
}

.s-grade {
    background: url(../img/items/sgrade.png) left 0 no-repeat;
}

.content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-text {
    padding: 20px 80px;
    padding-bottom: 0;
}

.filter-bar-wrapper,
.filter-bar__wrapper {
    text-align: center;
    padding-top: 50px;
}
.filter-bar {
    background: rgba(0, 0, 0, 0.41);
    border-radius: 4px;
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 4px 8px rgba(0, 0, 0, 0.3);*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin: 0 0 -20px 0;
    padding: 9px 12px 0 15px;
    text-align: center;
    width: auto;
    z-index: 2
}
.filter-bar-item,
.filter-bar__item {
    float: left;
    width: 50px
}
.filter-bar-item:after,
.filter-bar__item:after {
    content: ' ';
    display: block;
    height: 25px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    width: 28px
}
.filter-bar-item:hover:after,
.filter-bar__item:hover:after {
    opacity: 0.7
}
.filter-bar-item .cbp-filter-counter,
.filter-bar__item .cbp-filter-counter {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}
.filter-bar-item .cbp-filter-counter .filter-bar-item-count,
.filter-bar__item .cbp-filter-counter .filter-bar-item-count {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    font-size: 10px;
    font-size: 1rem;
    line-height: 20px;
    margin: 0 0 0 5px;
    opacity: 0.75;
    text-align: center;
    width: 20px
}
.filter-bar-item.cbp-filter-item-active,
.filter-bar__item.cbp-filter-item-active {
    background: none
}
.filter-bar-item.cbp-filter-item-active:after,
.filter-bar__item.cbp-filter-item-active:after {
    opacity: 1
}
.filter-bar-item-all:after,
.filter-bar-item--all:after,
.filter-bar__item-all:after,
.filter-bar__item--all:after {
    background: url("../img/heroes/landing/sort-role-all.png") center center no-repeat
}
.filter-bar-item-attack-damage:after,
.filter-bar-item--attack-damage:after,
.filter-bar__item-attack-damage:after,
.filter-bar__item--attack-damage:after {
    background: url("../img/heroes/landing/sort-role-attack.png") center center no-repeat
}
.filter-bar-item-ability-damage:after,
.filter-bar-item--ability-damage:after,
.filter-bar__item-ability-damage:after,
.filter-bar__item--ability-damage:after {
    background: url("../img/heroes/landing/sort-role-ability.png") center center no-repeat
}
.filter-bar-item-survivability:after,
.filter-bar-item--survivability:after,
.filter-bar__item-survivability:after,
.filter-bar__item--survivability:after {
    background: url("../img/heroes/landing/sort-role-survivability.png") center center no-repeat
}
.filter-bar-item-crowd-control:after,
.filter-bar-item--crowd-control:after,
.filter-bar__item-crowd-control:after,
.filter-bar__item--crowd-control:after {
    background: url("../img/heroes/landing/sort-role-crowd-control.png") center center no-repeat
}
.filter-bar-item-archers:after,
.filter-bar-item--archers:after,
.filter-bar__item-archers:after,
.filter-bar__item--archers:after {
    background: url("../img/heroes/landing/sort-role-arco1.png") center center no-repeat
}
.filter-bar-item-support:after,
.filter-bar-item--support:after,
.filter-bar__item-support:after,
.filter-bar__item--support:after {
    background: url("../img/heroes/landing/sort-role-support.png") center center no-repeat
}
.filter-bar-label,
.filter-bar__label {
    float: left;
    color: rgba(255, 255, 255, 0.3);
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1px 0 3px 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

#items .filter-bar {
    margin: 0 0 20px 0
}
body #items .filter-bar__items {
    margin: 0;
    padding:0 
}
#items .filter-bar__item {
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 20px;
    cursor: pointer;
    height: 30px;
    opacity: 0.4;
    position: relative;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    width: 40px
}

#items .filter-bar__item i {
    position: relative;
    top: -2px;
}

#items .filter-bar__item--title {
    text-transform: uppercase;
    background: #04060B;
    border-radius: 3px;
    color: #3A6B84;
    font-size: 11.5px;
    font-size: 1.15rem;
    font-weight: 600;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    position: absolute;
    text-indent: 0;
    top: -30px;
    -webkit-transition: opacity 0.5s, top 0.5s, visibility 0.5s;
    transition: opacity 0.5s, top 0.5s, visibility 0.5s;
    visibility: hidden;
    width: 100px
}
#items .filter-bar__item--title:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #04060B;
    bottom: -4px;
    content: ' ';
    position: absolute;
    height: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 0
}
#items .filter-bar__item:hover .filter-bar__item--title {
    opacity: 1;
    top: -40px;
    visibility: visible
}
body #items .filter-bar__item {
    margin: 0
}
#items .filter-bar__item:after {
    display: none
}
#items .filter-bar__item:hover,
#items .filter-bar__item.is-active {
    opacity: 1
}
#items .filter-bar__item--all {
    background: url("/assets/009/img/items/filters/all.png") 4px 6px no-repeat
}

/*#items .filter-bar__item--magic-damage {
    background-image: url("../img/items/filters/magic-damage.png")
}
#items .filter-bar__item--attack {
    background-image: url("../img/items/filters/attack.png")
}
#items .filter-bar__item--mana {
    background-image: url("../img/items/filters/mana.png")
}
#items .filter-bar__item--defense {
    background-image: url("../img/items/filters/defense.png")
}
#items .filter-bar__item--utility {
    background-image: url("../img/items/filters/utility.png")
}
#items .filter-bar__item--boots {
    background-image: url("../img/items/filters/boots.png")
}
#items .filter-bar__item--consumable {
    background-image: url("../img/items/filters/consumable.png")
}
*/
#items h3 {
    color: rgba(174, 200, 211, 0.5);
    margin: 20px 0 5px 0;
    text-align: center
}
.items {
    text-align: center
}
body .items {
    font-size: 0;
    padding: 0;
}
.item-group {
    padding-left: 100px; 
    padding-right: 100px;
}
.items__item {
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    display: inline-block;
    height: 70px;
    line-height: 14px;
    line-height: 1.4rem;
    padding: 5px;
    text-align: center;
    width: 72px;
    vertical-align: top
}
body .items__item {
    line-height: 13px;
    line-height: 1.3rem;
    margin: 10px 0 0 0;
}
.items__item--icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*border-radius: 4px;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35), inset 0 1px 2px rgba(255, 255, 255, 0.5);*/
    display: block;
    height: 32px;
    margin: 0 auto 5px auto;
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    width: 32px;
}
.items__item--item_glovesofhaste .items__item--icon {
    background-image: url("../img/items/agility-stone.jpg")
}
.items__item--item_warpcleft .items__item--icon {
    background-image: url("../img/items/agility-relic.jpg")
}
.items__item--item_healthstone .items__item--icon {
    background-image: url("../img/items/health-shard.jpg")
}
.items__item--item_38 .items__item--icon {
    background-image: url("../img/items/38.jpg")
}
.items__item--item_37 .items__item--icon {
    background-image: url("../img/items/37.jpg")
}
.items__item--item_36 .items__item--icon {
    background-image: url("../img/items/36.jpg")
}
.items__item--item_35 .items__item--icon {
    background-image: url("../img/items/35.jpg")
}
.items__item--item_34 .items__item--icon {
    background-image: url("../img/items/34.jpg")
}
.items__item--item_33 .items__item--icon {
    background-image: url("../img/items/33.jpg")
}
.items__item--item_32 .items__item--icon {
    background-image: url("../img/items/32.jpg")
}
.items__item--item_31 .items__item--icon {
    background-image: url("../img/items/31.jpg")
}
.items__item--item_30 .items__item--icon {
    background-image: url("../img/items/30.jpg")
}
.items__item--item_31 .items__item--icon {
    background-image: url("../img/items/31.jpg")
}
.items__item--item_32 .items__item--icon {
    background-image: url("../img/items/32.jpg")
}
.items__item--item_29 .items__item--icon {
    background-image: url("../img/items/29.jpg")
}
.items__item--item_28 .items__item--icon {
    background-image: url("../img/items/28.jpg")
}
.items__item--item_27 .items__item--icon {
    background-image: url("../img/items/27.jpg")
}
.items__item--item_26 .items__item--icon {
    background-image: url("../img/items/26.jpg")
}
.items__item--item_25 .items__item--icon {
    background-image: url("../img/items/25.jpg")
}
.items__item--item_24 .items__item--icon {
    background-image: url("../img/items/24.jpg")
}
.items__item--item_23 .items__item--icon {
    background-image: url("../img/items/23.jpg")
}
.items__item--item_22 .items__item--icon {
    background-image: url("../img/items/22.jpg")
}
.items__item--item_21 .items__item--icon {
    background-image: url("../img/items/21.jpg")
}
.items__item--item_20 .items__item--icon {
    background-image: url("../img/items/20.jpg")
}
.items__item--item_19 .items__item--icon {
    background-image: url("../img/items/19.jpg")
}
.items__item--item_18 .items__item--icon {
    background-image: url("../img/items/18.jpg")
}
.items__item--item_17 .items__item--icon {
    background-image: url("../img/items/17.jpg")
}
.items__item--item_16 .items__item--icon {
    background-image: url("../img/items/16.jpg")
}
.items__item--item_15 .items__item--icon {
    background-image: url("../img/items/15.jpg")
}
.items__item--item_14 .items__item--icon {
    background-image: url("../img/items/14.jpg")
}
.items__item--item_13 .items__item--icon {
    background-image: url("../img/items/13.jpg")
}
.items__item--item_12 .items__item--icon {
    background-image: url("../img/items/12.jpg")
}
.items__item--item_11 .items__item--icon {
    background-image: url("../img/items/11.jpg")
}
.items__item--item_10 .items__item--icon {
    background-image: url("../img/items/10.jpg")
}
.items__item--item_9 .items__item--icon {
    background-image: url("../img/items/9.jpg")
}
.items__item--item_8 .items__item--icon {
    background-image: url("../img/items/8.jpg")
}
.items__item--item_7 .items__item--icon {
    background-image: url("../img/items/7.jpg")
}
.items__item--item_6 .items__item--icon {
    background-image: url("../img/items/6.jpg")
}
.items__item--item_5 .items__item--icon {
    background-image: url("../img/items/5.jpg")
}
.items__item--item_4 .items__item--icon {
    background-image: url("../img/items/4.jpg")
}
.items__item--item_3 .items__item--icon {
    background-image: url("../img/items/3.jpg")
}
.items__item--item_2 .items__item--icon {
    background-image: url("../img/items/2.jpg")
}

.items__item--item_arrow .items__item--icon {
    background-image: url("../img/items/arrow.jpg")
}

.items__item--item_blessedspiritshot .items__item--icon {
    background-image: url("../img/items/blessed_spiritshot.jpg")
}

.items__item--item_bolt .items__item--icon {
    background-image: url("../img/items/bolt.jpg")
}

.items__item--item_cppotion .items__item--icon {
    background-image: url("../img/items/cp_potion.jpg")
}

.items__item--item_healingpotion .items__item--icon {
    background-image: url("../img/items/healing_potion.jpg")
}

.items__item--item_manapotion .items__item--icon {
    background-image: url("../img/items/mana_potion.jpg")
}

.items__item--item_oraclepotion .items__item--icon {
    background-image: url("../img/items/oracle_potion.jpg")
}

.items__item--item_soulshot .items__item--icon {
    background-image: url("../img/items/soulshot.jpg")
}

.items__item--item_strider .items__item--icon {
    background-image: url("../img/items/strider.jpg")
}

.items__item--item_plated .items__item--icon {
    background-image: url("../img/items/plated.jpg")
}

.items__item--item_karmian .items__item--icon {
    background-image: url("../img/items/karmian.jpg")
}

.items__item--item_compound .items__item--icon {
    background-image: url("../img/items/compound.jpg")
}

.items__item--item_nightmareheavy .items__item--icon {
    background-image: url("../img/items/nightmare_heavy.jpg")
}

.items__item--item_nightmarelight .items__item--icon {
    background-image: url("../img/items/nightmare_light.jpg")
}

.items__item--item_nightmarerobe .items__item--icon {
    background-image: url("../img/items/nightmare_robe.jpg")
}

.items__item--item_tallumheavy .items__item--icon {
    background-image: url("../img/items/tallum_heavy.jpg")
}

.items__item--item_tallumlight .items__item--icon {
    background-image: url("../img/items/tallum_light.jpg")
}

.items__item--item_tallumrobe .items__item--icon {
    background-image: url("../img/items/tallum_robe.jpg")
}

.items__item--item_vesperbreastplate .items__item--icon {
    background-image: url("../img/items/vesper_breastplate.jpg")
}

.items__item--item_vesperleather .items__item--icon {
    background-image: url("../img/items/vesper_leather.jpg")
}

.items__item--item_vespernoblebreastplate .items__item--icon {
    background-image: url("../img/items/vesper_noble_breastplate.jpg")
}

.items__item--item_vespernobleleather .items__item--icon {
    background-image: url("../img/items/vesper_noble_leather.jpg")
}

.items__item--item_vespernobletunic .items__item--icon {
    background-image: url("../img/items/vesper_noble_tunic.jpg")
}

.items__item--item_vespertunic .items__item--icon {
    background-image: url("../img/items/vesper_tunic.jpg")
}

.items__item--item_immortalearring .items__item--icon {
    background-image: url("../img/items/immortal_earring.jpg")
}

.items__item--item_immortalring .items__item--icon {
    background-image: url("../img/items/immortal_ring.jpg")
}

.items__item--item_seraphearring .items__item--icon {
    background-image: url("../img/items/seraph_earring.jpg")
}

.items__item--item_seraphnecklace .items__item--icon {
    background-image: url("../img/items/seraph_necklace.jpg")
}

.items__item--item_seraphring .items__item--icon {
    background-image: url("../img/items/seraph_ring.jpg")
}

.items__item--item_antharasearring .items__item--icon {
    background-image: url("../img/items/antharas_earring.jpg")
}

.items__item--item_baiumring .items__item--icon {
    background-image: url("../img/items/baium_ring.jpg")
}

.items__item--item_queenantring .items__item--icon {
    background-image: url("../img/items/queen_ant_ring.jpg")
}

.items__item--item_valakasnecklace .items__item--icon {
    background-image: url("../img/items/valakas_necklace.jpg")
}

.items__item--item_zakenearring .items__item--icon {
    background-image: url("../img/items/zaken_earring.jpg")
}

.items__item--item_chainshield .items__item--icon {
    background-image: url("../img/items/chain_shield.jpg")
}

.items__item--item_compoundshield .items__item--icon {
    background-image: url("../img/items/compound_shield.jpg")
}

.items__item--item_gloriousshield .items__item--icon {
    background-image: url("../img/items/glorious_shield.jpg")
}

.items__item--item_shieldofnightmare .items__item--icon {
    background-image: url("../img/items/shield_of_nightmare.jpg")
}

.items__item--item_vespershield .items__item--icon {
    background-image: url("../img/items/vesper_shield.jpg")
}

.items__item--item_vorpalshield .items__item--icon {
    background-image: url("../img/items/vorpal_shield.jpg")
}

.items__item--item_becdecorbin .items__item--icon {
    background-image: url("../img/items/bec_de_corbin.jpg")
}

.items__item--item_crystaldagger .items__item--icon {
    background-image: url("../img/items/crystal_dagger.jpg")
}

.items__item--item_dualstormbringer .items__item--icon {
    background-image: url("../img/items/dual_stormbringer.jpg")
}

.items__item--item_eminencebow .items__item--icon {
    background-image: url("../img/items/eminence_bow.jpg")
}

.items__item--item_greatpata .items__item--icon {
    background-image: url("../img/items/great_pata.jpg")
}

.items__item--item_homunkulussword .items__item--icon {
    background-image: url("../img/items/homunkulus_sword.jpg")
}

.items__item--item_paagriohammer .items__item--icon {
    background-image: url("../img/items/paagrio_hammer.jpg")
}

.items__item--item_paradiastaff .items__item--icon {
    background-image: url("../img/items/paradia_staff.jpg")
}

.items__item--item_stormbringer .items__item--icon {
    background-image: url("../img/items/stormbringer.jpg")
}

.items__item--item_yaksamace .items__item--icon {
    background-image: url("../img/items/yaksa_mace.jpg")
}

.items__item--item_bloodtornado .items__item--icon {
    background-image: url("../img/items/blood_tornado.jpg")
}

.items__item--item_branchofthemothertree .items__item--icon {
    background-image: url("../img/items/branch_of_the_mother_tree.jpg")
}

.items__item--item_carnagebow .items__item--icon {
    background-image: url("../img/items/carnage_bow.jpg")
}

.items__item--item_damascusdamascus .items__item--icon {
    background-image: url("../img/items/damascus_damascus.jpg")
}

.items__item--item_doomcrusher .items__item--icon {
    background-image: url("../img/items/doom_crusher.jpg")
}

.items__item--item_meteorshower .items__item--icon {
    background-image: url("../img/items/meteor_shower.jpg")
}

.items__item--item_soulseparator .items__item--icon {
    background-image: url("../img/items/soul_separator.jpg")
}

.items__item--item_swordofdamascus .items__item--icon {
    background-image: url("../img/items/sword_of_damascus.jpg")
}

.items__item--item_swordofmiracles .items__item--icon {
    background-image: url("../img/items/sword_of_miracles.jpg")
}

.items__item--item_tallumglaive .items__item--icon {
    background-image: url("../img/items/tallum_glaive.jpg")
}

.items__item--item_dynastybaghnakh .items__item--icon {
    background-image: url("../img/items/dynasty_bagh_nakh.jpg")
}

.items__item--item_dynastybow .items__item--icon {
    background-image: url("../img/items/dynasty_bow.jpg")
}

.items__item--item_dynastycrusher .items__item--icon {
    background-image: url("../img/items/dynasty_crusher.jpg")
}

.items__item--item_dynastycudgel .items__item--icon {
    background-image: url("../img/items/dynasty_cudgel.jpg")
}

.items__item--item_dynastydualsword .items__item--icon {
    background-image: url("../img/items/dynasty_dualsword.jpg")
}

.items__item--item_dynastyhalberd .items__item--icon {
    background-image: url("../img/items/dynasty_halberd.jpg")
}

.items__item--item_dynastyknife .items__item--icon {
    background-image: url("../img/items/dynasty_knife.jpg")
}

.items__item--item_dynastymace .items__item--icon {
    background-image: url("../img/items/dynasty_mace.jpg")
}

.items__item--item_dynastystaff .items__item--icon {
    background-image: url("../img/items/dynasty_staff.jpg")
}

.items__item--item_dynastysword .items__item--icon {
    background-image: url("../img/items/dynasty_sword.jpg")
}


.items__item--recipe .items__item--icon {
    background-image: url("../img/items/recipe.png");
    background-size: auto;
    box-shadow: none;
    width: 28px
}
.items__item--enchantment .items__item--icon {
    box-shadow: none
}
.items__item--name {
    color: #797979;
    display: block;
    font-size: 13px;
    font-size: 1.3rem;
    /*font-weight: 400;*/
    margin: 0 -3px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-transition: color 0.25s, text-shadow 0.25s;
    transition: color 0.25s, text-shadow 0.25s;
    word-wrap: break-word
}
.items__item--expansion {
    background: rgba(13, 15, 16, 0.64);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2), 0 1px 0 rgb(12, 6, 0);
    border-radius: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: auto;
    display: none;
    height: auto;
    padding: 20px;
    width: auto
}
body .items__item--expansion {
   margin: 0 2px;
}
.items__item.is-active {
    background: rgba(13, 15, 16, 0.64);
    /*box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2), 0 1px 0 rgb(12, 6, 0);*/
}
.items__item.is-active .items__item--name {
    color: #fff;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5)
}
.items__item:hover>.items__item--icon {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35), inset 0 1px 2px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2)
}
.items__item:hover .items__item--name {
    color: #fff;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5)
}
.items__item.is-hidden {
    display: none
}
.item-details {
    display: none
}
.item-details__header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    margin: 0 -20px;
    padding: 0 20px 20px 20px;
    text-align: left
}
.item-details__header:last-child {
    border-bottom: none;
    box-shadow: none;
    padding-bottom: 0
}
.item-details__header--name {
    color: #c5c5c5;
    display: inline-block;
    font-size: 17px;
    font-size: 1.7rem;
    float: left;
    font-weight: bold;
    margin-bottom: 15px;
    white-space: nowrap
}
.item-details__header--components {
    display: block;
    float: right;
    position: relative;
    top: -5px
}
body .item-details__header--components {
    margin: 0;
    line-height: 17px;
    line-height: 1.7rem
}
.item-details__header__item--description {
    display: inline-block
}
.item-details__header--description {
    clear: both;
    color: #838383;
    line-height: 20px;
    line-height: 2rem;
    font-size: 14px;
}

.item-details__header--description i:not(:first-child) {
    margin-left: 10px;
}

.item-details__component {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    width: auto
}
body .item-details__component {
    line-height: 15px;
    line-height: 1.5rem;
    margin: 0 10px 0 0
}
body .item-details__component:last-child {
    margin-right: 0
}
.item-details__item {
    display: table;
    white-space: nowrap
}
.item-details__item--icon,
.item-details__item--text-wrapper {
    display: table-cell;
    vertical-align: top
}
.item-details__item--icon .items__item--icon {
    border-radius: 2px;
    height: 30px;
    width: 30px
}
.item-details__item--text-wrapper {
    padding-left: 5px
}
.item-details__item--name {
    color: #c6d9e4;
    display: block;
    font-size: 13.5px;
    font-size: 1.35rem;
    font-weight: 600
}
.item-details__item--description {
    color: #75909f;
    font-size: 12.5px;
    font-size: 1.25rem;
    font-weight: 600
}
.item-details__gold {
    color: #dbc110;
    font-weight: bold;
    white-space: nowrap
}
.item-details__gold:before {
    background: url("../img/ui/icon-gold.png") center center no-repeat;
    background-size: contain;
    content: ' ';
    display: inline-block;
    height: 13px;
    margin-right: 1px;
    vertical-align: middle;
    width: 13px
}
.item-details__gold--total-cost {
    font-size: 14.5px;
    font-size: 1.45rem;
    margin-left: 5px
}
.item-details__gold--component-cost {
    font-size: 11.5px;
    font-size: 1.15rem;
    margin-left: 3px
}
.item-details__secondary-item {
    display: inline-block;
    margin: 20px 10px 0 10px;
    width: 27%
}
body .item-details__secondary-item {
    margin-bottom: 0
}
.secondary-item {
    display: inline-block
}
body .secondary-item__item {
    line-height: 15px;
    line-height: 1.5rem;
    margin: 0 0 20px 0;
    text-align: left
}
body .secondary-item__item:last-child {
    margin-bottom: 0
}
.secondary-item__item--title {
    color: #537689;
    font-weight: 600;
    text-transform: uppercase
}
body .secondary-item__item--title {
    font-size: 11.5px;
    font-size: 1.15rem;
    margin: 0 0 10px 0
}
.secondary-item__item .item-details__item--text-wrapper {
    width: 100%
}

@media only screen and (max-width: 960px) {
    .container {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 10px 30px 10px
    }
}

@media only screen and (max-width: 850px) {
    .item-details__header--name,
    .item-details__header--components {
        float: none;
        width: 100%
    }
    .item-details__header--name {
        margin-bottom: 20px
    }
    .item-details__header--components {
        position: static;
        text-align: left;
        top: auto
    }
    body .item-details__header--components {
        margin-bottom: 15px
    }
    body .item-details__component {
        margin: 5px
    }
    .item-details__secondary-item {
        display: block;
        margin: 20px 0 0 0;
        width: 100%
    }
}

@media only screen and (max-width: 550px) {
    .news-article .article-footer {
        display: block
    }
    .news-article .article-footer .article-link-wrapper,
    .news-article .article-footer .article-details-wrapper {
        display: block;
        text-align: center;
        width: 100%
    }
    .news-article .article-footer .article-details-wrapper {
        margin-bottom: 10px
    }
    .item-details__header {
        text-align: center
    }
    .item-details__header--name,
    .item-details__header--components,
    .item-details__header--description {
        text-align: center
    }
    .item-details__header--name {
        display: block
    }
}    