@font-face {
  font-family: 'Beaufort';
  font-style: normal;
  font-weight: normal;
  src: local('Beaufort Pro Bold'), local('Beaufort-Bold'), url(../fonts/medieval/bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Beaufort';
  font-style: normal;
  font-weight: normal;
  src: local('Beaufort Pro Medium'), local('Beaufort-Medium'), url(../fonts/medieval/medium.woff2) format('woff2');
}
@font-face {
  font-family: 'Beaufort';
  font-style: normal;
  font-weight: normal;
  src: local('Beaufort Pro Light'), local('Beaufort-Light'), url(../fonts/medieval/light.woff2) format('woff2');
}
@font-face {
  font-family: 'Beaufort';
  font-style: normal;
  font-weight: normal;
  src: local('Beaufort'), local('Beaufort-Regular'), url(../fonts/medieval/regular.woff2) format('woff2');
}
