html {
    height: 100%;
}
body {
    background-color: #0d1222;
    height:100%;
    color: #838383;
    font-family: spiegel;
    overflow-x: hidden;
}
a {
    color:#d2bba7;
}
img {
    width: 100%;
}
.container {
    height: 100%;
}
.logo {
    width: 350px;
}
.message {
    position: relative;
    background: rgba(0,0,0,0.1);
}
.sup {
    width: 400px;
    height: 480px;
    position: absolute;
    left: -300px;
    top: -150px;
    background: transparent url(/assets/mobile/img/img2.png) right bottom no-repeat;
}
.cornered {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: transparent url(/assets/mobile/img/img1.png) right bottom no-repeat;
}
.append {
    padding: 10px;
    position: relative;
    z-index: 99999;    
}
.fb-container {
    background-color: #eee;
    padding: 15px 0;
}

.keys {
    float: right;
    padding: 15px;
    padding-left: 40px;
    background: transparent url(/assets/mobile/img/key.png) left center no-repeat;   
}
.text-white {
    color:#fff;
}

@media (max-width: 768px) {
    .logo {
        width: 100%;
    }
    .message {
       display: inline;
    }
    .cornered { 
        display: none;
    }
    .cornered, .sup, .keys { 
        display: none;
    }

}

@media (min-width: 768px) {
    .fb-container {
        margin-top: 80px;
    }
    .message{
        padding-bottom: 9em;
    }
    .message, .append {
        max-width: 70%;
        margin: 0 auto; 
    }
    .link {
        float: left;
        margin-left: 60px;
    }        
}