
section {
    padding-bottom: 100px;
}

#preguntas-frecuentes {
    padding-top: 50px;
    background: #010204 url(../img/bg-faq.png) center 130px no-repeat;
    /*background-size: cover;*/
}

.whatsthis {
    color: #626464;
}

p.req {
    height: 340px;
    background: transparent url(../img/req.png) bottom center no-repeat;
}

p.hero {
    height: 800px;
    background: transparent url(../img/hero.png) bottom center no-repeat;
}

p.pack-info {
    margin: 50px auto;
    max-width: 800px;
}

.dscroll *, .invisible {
    visibility: hidden;
}

.faq-group {
    margin-bottom: 40px;
}

.faq-group h4 {
    margin: 60px;
}

.faq-group .faq-item h5:hover {
    color: #94A6AB;
}

/*
.faq-group .faq-item.expanded h5:after {
    content: '-';
}

.faq-group .faq-item h5:after {
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    color: #86886c;
    display: inline-block;
    content: '+';
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid;
    font-size: 12px;
    line-height: 14px;
    margin-left: 13px;
    vertical-align: middle;
}
*/


hr {
    background: url(../img/separator.png) center center no-repeat;
    height: 27px;
    border:none;
}

h1.flourish span:before, h2.flourish span:before, h3.flourish span:before, h4.flourish span:before {
    content: '';
    background: url(../img/title-separator-left.png) right center no-repeat;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 27px;
    top: 50%;
    margin-top: -10px;
}

h1.flourish span:after, h2.flourish span:after, h3.flourish span:after, h4.flourish span:after {
    content: '';
    background: url(../img/title-separator-right.png) left center no-repeat;
    position: absolute;
    right: -100%;
    width: 100%;
    height: 27px;
    top: 50%;
    margin-top: -10px;
}

h1.flourish span, h2.flourish span, h3.flourish span, h4.flourish span {
    display: inline-block;
    padding: 0 20px;
    margin-bottom: 40px;
    position: relative;
}

h1, h2, h3, h4 {
    overflow: hidden;
}

.faq-group .faq-item p {
    opacity: 0;
    margin: 0 auto;
    max-width: 800px;
    transition: margin .5s ease,max-height .5s ease,opacity .8s ease;
    overflow: hidden;
    max-height: 0;
    color: #86886c;
    font-size: 16px;
}

.faq-group .faq-item.expanded h5 {
    color: #94A6AB;
}

.faq-group .faq-item.expanded p {
    opacity: 1;
    letter-spacing: 0;
    display: block;
    max-height: 800px;
    margin-bottom: 30px;
    color: #838383;
    font-size: 16px
}

.dscroll *,
.invisible {
    visibility: hidden
}
.faq-group .faq-item h5 {
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    color:#5E6A6D;
}

.dscroll.dscroll-in * {
    -webkit-animation: slideFadeUp .5s ease both;
    animation: slideFadeUp .5s ease both;
    visibility: visible
}
.dscroll.dscroll-in:nth-child(1) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}
.dscroll.dscroll-in:nth-child(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}
.dscroll.dscroll-in:nth-child(3) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}
.dscroll.dscroll-in:nth-child(4) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}
.dscroll.dscroll-in:nth-child(5) {
    -webkit-animation-delay: .7s;
    animation-delay: .7s
}
.dscroll.dscroll-in:nth-child(6) {
    -webkit-animation-delay: .8s;
    animation-delay: .8s
}
.dscroll.dscroll-in:nth-child(7) {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}
.dscroll.dscroll-in:nth-child(8) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}
.dscroll.dscroll-in:nth-child(9) {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s
}
.dscroll.dscroll-in:nth-child(10) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}
.dscroll.dscroll-in:nth-child(11) {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s
}
.dscroll.dscroll-in:nth-child(12) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s
}
.dscroll.dscroll-in:nth-child(13) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}
.dscroll.dscroll-in:nth-child(14) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s
}
.dscroll.dscroll-in:nth-child(15) {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s
}
.dscroll.dscroll-in:nth-child(16) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s
}
.dscroll.dscroll-in:nth-child(17) {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s
}
.dscroll.dscroll-in:nth-child(18) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}
.dscroll.dscroll-in:nth-child(19) {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s
}
.dscroll.dscroll-in:nth-child(20) {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s
}
.dscroll.dscroll-in:nth-child(21) {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s
}
.dscroll.dscroll-in:nth-child(22) {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s
}
.dscroll.dscroll-in:nth-child(23) {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s
}
.dscroll.dscroll-in:nth-child(24) {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s
}
.dscroll.dscroll-in h1.flourish span:after,
.dscroll.dscroll-in h1.flourish span:before,
.dscroll.dscroll-in h2.flourish span:after,
.dscroll.dscroll-in h2.flourish span:before,
.dscroll.dscroll-in h3.flourish span:after,
.dscroll.dscroll-in h3.flourish span:before,
.dscroll.dscroll-in h4.flourish span:after,
.dscroll.dscroll-in h4.flourish span:before {
    -webkit-animation: widthIn .5s ease .2s both;
    animation: widthIn .5s ease .2s both
}

@-webkit-keyframes slideFadeUp {
    0% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 0
    }
}
@keyframes slideFadeUp {
    0% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 0
    }
}
