.admin-content {
    height: 100%;
    background-color: #000;
}

.blue-glow {
    text-shadow: 0 0 5px #74E9FF;
}

a.postulation-group:hover, a.postulation-item:hover {
    color: #88EEFF;
    text-shadow: 0 0 2px #88EEFF;
} 

.postulation-item.active, .postulation-group.active {
    color: #88EEFF;
    text-shadow: 0 0 2px #88EEFF;
}

#presentation {
    width: 100%;
    height: 49%;
    background-image: url("/assets/009/img/bg-posts.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;    
}

.postulation-list {
    width: 100%;
    height: 49%;
}

.postulation-list table {
    vertical-align: top;
    margin-top:5px;
    color: #838383;
    height: 80%;    
    width: 100%;
}

.postulation-list td {
    position: relative;
    height: 100%;
    vertical-align: middle;
}

ul.dots {
    display: table;
    margin: 0 auto;
}
