@media (max-width: 1200px) {
.responsive-header{
	display:block
}
.horizontal-menu{
	display:none;
}
.nav-profile {
    display: none;
}
aside {
    width: 60px;
}
.parent-menu > li span {
    display: none;
}
.parent-menu > li {
    margin: 0;
    padding: 0;
}
.menu .parent-menu > li > a {
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
	font-size: 17px;
}
.menu  .parent-menu > li > a i {
    font-size: 17px;
    line-height: 44px;
    margin: 0;
    text-align: center;
    width: 100%;
}
#container {
    left: 60px;
}
.toggle-menu {
    display: none;
}
.pattern-lock-sec .container {
    width: auto;
}
.clock ul li {
    font-size: 30px;
}
.clock #Date {
    font-size: 13px;
    margin-bottom: 10px;
}

}

@media (min-width: 768px) and (max-width: 980px) {
.logo {
    width: auto;
}
header {
    float: left;
    position: static;
    width: 100%;
}
.responsive-header{
	display:block
}
.horizontal-menu{
	display:none;
}
.toggle-menu {
    display: none;
}
.stats-sec .col-md-6 {
    float: left;
    width: 50%;
}
.mini-stats-sec .row > div {
    float: left;
    margin-top: 30px;
    width: 33.334%;
}
.visitor-stats > .sparkline {
    text-align: center;
}
.all-mail {
    margin-top: 30px;
}
.icons-container {
    float: left;
    width: 33.334%;
}
.invoice-billing .col-md-6 {
    float: left;
    width: 50%;
}
.about-us p {
    margin-bottom: 30px;
}
.award {
    margin-bottom: 10px;
    text-align: center;
}
.portfolio-sec > li {
    float: left;
    width: 100%;
}
.price-table {
    margin: 30px 0 0;
}
.keys > div {
    float: left;
    width: 25%;
}
.top .screen{
	margin-bottom:10px;
}
.pattern-lock-sec .container {
    width: auto;
}
.title {
    width: 30%;
}
.imp-buttons {
    width: 70%;
}


}

@media (max-width: 767px) {
aside {
	z-index: 9999999;
}

header {
    float: left;
    position: static;
    width: 100%;
}
.responsive-header{
	display:block
}
.horizontal-menu{
	display:none;
}
.logo {
width: auto;
}
.search {
    padding-left: 15px;
}
.search input[type="text"] {
    margin: 0 20px 0 0;
    width: 130px;
}
.custom-dropdowns .dropdown > a {
    padding-right: 25px;
}
.custom-dropdowns .dropdown > a > span {
    margin-right: 6px;
}
.title {
    float: left;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}
.imp-buttons {
    text-align: center;
    width: 100%;
}
.mini-stats-sec > .row > div {
    float: left;
    margin-top: 20px;
    width: 50%;
}
.title > h1 {
    font-size: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.imp-buttons .dropdown.rounded {
    margin-left: 10px;
}
.top-bar-chart {
    margin-left: 10px;
}
.stats-sec {
    position: relative;
    z-index: 999;
}
.visitor-stats > .sparkline {
    text-align: center;
    width: 100%;
}
.all-mail {
    margin-top: 30px;
}
.comment-avatar {
    width: 37px;
}
.comment {
    padding-left: 47px;
}
.user-comment {
    padding: 20px;
}
.error-sec > input {
    width: 100%;
}
.error-sec > p {
    padding: 0;
}
.invoice-billing .col-md-6 {
    float: left;
    width: 50%;
}
.description {
    display: none;
}
.date {
    width: 20%;
}
.invoice-number {
    width: 20%;
}
.quantity {
    width: 20%;
}
.vat {
    width: 20%;
}
.total {
    width: 20%;
}
.long-column {
    width: 80%;
}
.msg {
    float: left;
    margin: 20px auto 0;
    padding: 15px 51px;
    text-align: center;
    width: 100%;
}
.invoice-billing > .row > .col-md-6 {
    float: left;
    width: 50%;
}
.coming-soon > h2 {
    font-size: 59px;
}
.style1 > li {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
	
    margin: 0 0 10px;
    width: 100%;
}
.style1 {
    float: left;
    width: 100%;
}
.about-us p {
    margin-bottom: 30px;
}
.award {
    margin-bottom: 10px;
    text-align: center;
}
.portfolio-sec > li {
    float: left;
    width: 100%;
}
.price-table {
    margin: 30px 0 0;
}
.keys > div {
    float: left;
    width: 25%;
}
.top .screen{
	margin-bottom:10px;
}
.pattern-lock-sec .container {
    width: auto;
}
.profile-avatar {
    padding-left: 80px;
}
.profile-avatar > span {
    top: 14px;
    width: 60px;
}
.profile-connect > li > a {
    font-size: 12px;
    padding: 6px 19px;
}
.profile-count > li {
    font-size: 21px;
}
.profile-name > h3 {
    font-size: 17px;
}
.profile-name > i {
    font-size: 12px;
}
#keywords thead tr th {
    padding: 5px;
}
.dropdown.profile > a {
    color: transparent;
    height: 36px;
    width: 36px;
}
.profile.drop-list {
    left: auto;
    margin-top: 10px;
    right: 0;
    width: 200px;
}
.profile.drop-list:before {
    left: auto;
    right: 18px;
}








}

@media (max-width: 480px)  {
header {
    float: left;
    min-height: 116px;
    position: static;
    width: 100%;
}
.responsive-header{
	display:block
}
.horizontal-menu{
	display:none;
}
.search input[type="text"] {
    width: 110px;
}
.logo {
    padding: 10px 0 10px 10px;
	min-height: 54px;
}
.search {
    margin: 13px 0;
	min-height: 34px;
}
aside {
    top: 116px;
}
#container {
    top: 116px;
}
.menu .parent-menu > li > a {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}
.menu .parent-menu > li > a i {
    font-size: 14px;
    line-height: 25px;
}
.menu ul li > ul {
    padding: 10px;
    width: 160px;
}
.menu ul li > ul a {
    font-size: 12px;
    line-height: 10px;
    overflow: hidden;
    padding-left: 33px;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}
.drop-list {
    left: 0;
    right: auto;
}
.menu ul li > ul.mega {
    width: 240px;
}
.content-sec {
    padding: 15px;
}

.title > h1 {
    font-size: 17px;
}
.title > span {
    font-size: 11px;
}
.imp-buttons .dropdown.rounded {
    margin: 0;
}
.top-bar-chart {
    margin: 13px 0 0;
    width: 100%;
}
.visitor-chart > h3 {
    font-size: 18px;
}
.widget {
    padding: 15px;
}
.earning-widget {
    padding: 15px 15px 0;
}
.earning-graph > h3{
	font-size:17px;
}
.full-width {
    margin: 0 -15px;
}
.earning-status span {
    font-size: 11px;
}
.earning-status h4 {
    font-size: 12px;
}
.profile-thumb > h3 {
    font-size: 15px;
}
.profile-views-progress > h5 {
    font-size: 12px;
}
.profile-views-progress > ul > li h4 {
    font-size: 14px;
}
.database-migration > h3 {
    font-size: 12px;
}
.progress.w-tooltip .progress-bar > i {
    display: none;
}
.quick-stats > h4 {
    font-size: 15px;
}
p{
    font-size: 12px;
}
.quick-stats {
    overflow: hidden;
}
.quick-stats > p {
    line-height: 20px;
}
.widget-title {
    font-size: 14px;
}
.tckt-status {
    width: 50%;
}
.tckt-number {
    width: 50%;
}
.ticket-info {
    margin-top: 10px;
    width: 100%;
}
.widget-tabs > .nav > li {
    width: 50%;
}
.widget-tabs > .nav > li > a {
    font-size: 11px;
    padding: 14px 8px;
    text-align: center;
}
.user-comments > li .user-avatar {
    width: 40px;
    height: 40px;
}
.user-comments > li .user-avatar span {
    width: 40px;
	height: 40px;
}
.user-comments > li {
    padding: 20px 0 20px 58px;
}
.tab-content {
    padding: 15px;
}
.panel.work-progress-table > .panel-heading {
    font-size: 13px;
    padding: 15px 15px 9px;
}
.dropdown.rounded > button {
    font-size: 9px;
    padding: 6px 10px;
}
.work-progress-table .table td {
    font-family: Lato;
    font-size: 11px;
    letter-spacing: 0.3px;
    padding: 7px 6px;
}
.task-graph-chart > i {
    font-size: 9px;
}
.task-graph-chart > h3 {
    font-size: 18px;
}
.social-activities > ul > li > i {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    width: 30px;
}
.social-activities > ul > li {
    padding-left: 37px;
}
.social-activities span {
    font-size: 7px;
}
.server {
    padding: 0 15px;
}
.server > span {
    font-size: 12px;
    margin-right: 13px;
}
.server > .btn-group {
    margin-bottom: 13px;
    margin-top: 20px;
}
.mini-profile-area > span {
    border: 2px solid #adadad;
    width: 40px;
}
.mini-profile-area {
    padding-left: 51px;
}
.mini-profile-area > h3 {
    font-size: 13px;
    margin: 10px 0 0;
}
.social-btns > li > a > i {
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    width: 28px;
}
.mini-profile-widget {
    padding: 15px;
}
.mini-profile-area > .social-btns {
    margin: 20px 0 0;
}
.timeline {
    padding: 0;
}
.timeline-sec > ul:before {
    display: none;
}
.user-timeline {
    display: table;
    float: none;
    margin: 0 auto 20px;
    position: relative;
    text-align: center;
    width: auto;
}
.user-timeline > span:before {
    background: none repeat scroll 0 0 #f5f5f5;
    content: "";
    height: 30px;
    left: 50%;
    position: absolute;
    top: 100%;
    width: 1px;
}
.timeline-detail:before {
    display: none;
}
.all-mail > h2 {
    font-size: 20px;
}
.email > h3 {

    width: auto;
}
.inbox-msg {
    width: 100%;
}
.read-email {
    width: 300px !important;
}
.close-reading {
    background: none repeat scroll 0 0 #333;
    color: #ffffff;
    top: 141px;
}
.balance-widget > h2 {
    font-size: 15px;
}
.doughnutSummaryNumber {
    font-size: 20px;
}
.doughnutSummaryTitle {
    font-size: 11px;
}
.post-date {
    width: 50px;
}
.post {
    padding-left: 60px;
}
.post h2 {
    font-size: 14px;
}
.metas > h6 {
    line-height: 20px;
}
.tags > li {
    margin-bottom: 10px;
}
.comment-avatar {
    float: left;
    position: static;
    width: 87px;
}
.user-comment {
    width: 100%;
}
#comment > ul > li > ul > li > .comment > .user-comment {
    width: 100%;
}
#comment > ul > li > ul {
    padding: 0;
}
#comment > ul > li > ul > li > ul {
    padding: 0;
}
#comment > ul > li > ul > li > ul > li .comment > .user-comment {
    width: 100%;
}
.comment {
    padding-left: 0;
}
.error-sec > h2 {
    font-size: 80px;
    font-weight: 900;
}
.error-sec > h4 {
    margin: 10px 0 0;
}
.error-sec > h5 {
    line-height: 22px;
}
.error-sec > h4 {
    font-size: 14px;
    line-height: 24px;
}
.vat {
    display: none;
}
.invoice-number,
.date,
.quantity,
.total {
    width: 25%;
}
.invoice-number.long-column {
    width: 75%;
}
.invoice li div p {
    font-size: 9px;
}
.search-result h2 {
    font-size: 14px;
    line-height: 20px;
}
.search-result p {
    width: 100%;
}
.search-form > span {
    font-size: 13px;
}
.account-sec {
    display: inherit;
    float: left;
    width: 100%;
	padding: 0 10px;
}
.account-form > fieldset > input {
    width: 200px;
}
.member-area > ul > li {
    width: 100%;
}
.image-title > h3 {
    font-size: 15px;
}
.image-title {
    padding: 15px;
}
.profile-head > ul {
    position: static;
}
.profile-head {
     padding: 15px;
}
.profile-head .profile-avatar > span {
    display: table;
    float: none;
    margin: 0 auto;
    position: static;
}
.profile-head .profile-avatar {
    padding: 0;
}
.profile-name {
    text-align: center;
}
.profile-name .social-btns {
    display: table;
    float: none;
    margin: 60px auto 0;
    width: auto;
}
.profile-head > ul {
    float: left;
    position: static;
    width: 100%;
}
.profile-count > li {
    font-size: 15px;
    margin-top: 20px;
    width: 33.3334%;
}
.profile-count > li > i {
    font-size: 11px;
}
.profile-connect > li {
    float: left;
    margin-left: 10px;
}
.profile-connect > li > a {
    font-size: 11px;
    margin-top: 10px;
    padding: 3px 9px;
}
.fc-header-right {
    display: table;
    float: none;
    margin: 0 auto;
    text-align: left;
    width: auto;
}
.fc-header-title h2 {
    font-size: 18px;
}
.bheader > h2 {
    font-size: 12px;

}
.bbody > form {
    display: inline;
    float: left;
    width: 100%;
}
.image-crop input[type="file"] {
    display: table;
    float: none;
    margin: 0 auto;
    width: 180px;
}
.step2 > h2 {
    font-size: 12px;
    padding: 0 20px;
}
.image-crop label {
    float: left;
    margin: 0 5px;
    width: 100%;
	margin:0;
}
.info input {
    float: left;
    width: 100%;
}
.anchor > li {
    margin-bottom: 15px;
}
.actionBar > a {
    font-size: 11px;
    padding: 5px 8px;
}
.inline-form > input, .inline-form > textarea {
    font-size: 12px;
}
.actionBar .close {
    display: none;
}

#upload_form > div {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
}
#upload_form > h2 {
    float: left;
    font-size: 11px;
    width: 100%;
}
.price-table > .price-package > h3 {
    margin: 80px 0 40px;
}
.service-icon {
    top: 202px;
}
.connected {
    width: 100%;
}
#connected {
    width: 100%;
}
#keywords thead tr th span {
    font-size: 12px;
    padding-right: 0;
}
#keywords tbody tr td {
    font-size: 10px;
    padding: 5px 0;
}
#keywords tbody tr td:last-child {
    display: none;
}
#wrapper {
    float: left;
    overflow: hidden;
    width: 100%;
}
#task-form input {
    width: 70%;
}
#task-form button {
    font-size: 12px;
    width: 30%;
}
#task-container .nothing-message {
    font-size: 15px;
}
.account-option > li a {
    line-height: 20px;
}
.drop-list:before {
    left: 6px;
    right: auto;
}
.drop-list{
	width: 200px !important;
}













}