body {
    direction: rtl;
}
.dropdown.profile > a img {
    float: right;
    margin: 0 0 0 15px;
}
.dropdown.profile > a i {
    float: right;
    margin-left: 9px;
    margin-top: 18px;
}
.search input[type="text"] {
    padding-right: 20px;
}
.drop-list > ul > li {
    padding-top: 20px;
}
.drop-list > ul > li > a .status {
    margin: 0;
    right: -16px;
    top: -21px;
}
.content-sec .title {
    float: right;
}
.imp-buttons .dropdown.rounded {
    float: left;
    margin: 10px 0 0;
}
.top-bar-chart {
    float: left;
}
.up-or-down {
    left: 0;
    right: auto;
}
.earning-graph > span {
    right: auto;
    left: 0;
}
.database-migration > .up-or-down {
    margin: 0;
}
.tckt-status > span {
    float: right;
}
.panel-default > .panel-heading > .dropdown {
    float: left;
}
.menu ul li a > i {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
.menu ul li a > span i {
    float: left;
}
.nav-profile h3 {
    width: 100%;
}
.status {
    float: right;
    width: auto;
}
.nav-profile > ul > li {
    float: right;
}
.social-activities > ul > li {
    padding-left: 0;
    padding-right: 50px;
}
.social-activities > ul > li i {
    left: auto;
    right: 0;
}
.slick-list {
    direction: ltr;
}
.carousal-widget > div > div > li > h3 {
    text-align: right;
}
.twitter-avatar > h3 {
    padding: 0 20px 0 0;
}
.twitter-avatar > span {
    left: auto;
    right: 20px;
}
.mini-profile-area > .social-btns {
    margin: 20px 0 0;
}
.inbox-msg > span {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
.mail-menu > ul > li > a > span {
    margin-left: 10px;
}
.compose-btn:hover {
    color: #333;
}
.metas > h6 {
    float: right;
    margin: 0 0 0 20px;
}
.post-date > span > i {
    margin: 0 0 0 6px;
}
.user-comment > a {
    float: right;
    margin-left: 10px;
}
.error-sec ul > li:before {
    left: -17px;
    right: auto;
}
.search-result p {
    float: right;
}
.member-area > ul > li a i {
    float: right;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 4px;
}
.member-area > ul > li a {
    padding-right: 10px;
}
.widget-title {
    float: right;
}
.service a.c-btn {
    float: right;
}
.controls.portfolio-nav > ul > li i {
    margin: 0 0 0 10px;
}
.profile-name .social-btns > li {
    float: right;
}
.profile-name .social-btns > li {
    float: right;
    margin-left: 5px !important;
}
.service-icon {
    left: 0;
    right: auto;
}
.panel-function {
    float: left;
}
.panel-function > a {
    margin: 0 10px 0 0;
}
.dropdown.rounded > .dropdown-menu {
    left: 0;
    right: auto;
}













@media (min-width: 768px) and (max-width: 980px) {
	
}
@media (max-width: 767px) {

}
@media (max-width: 480px)  {

}