@charset "utf-8";/* layout元素 */
body{font-family:simsun,Arial,Helvetica,Tahoma;font-size:12px;text-align:left;padding:0px 0px 0px 0px;margin:0px;}
img{border:0px;}
.clear{clear:both;font-size:0px;padding:0px;margin:0px;height:0px;line-height:0px;}
div,ul,ol,li,dl,dd,form,p,h1,h2{padding:0px 0px 0px 0px;margin:0px;border:0px;}
ul{list-style:none;}

/*无线游戏平台顶通区 */
.LineDingtong_bar{background:url(../images/wireless_dingtong/wx_dingdong.png) repeat-x 0px -36px;}
.LineDingtong_Qu{line-height:36px;width:980px;margin:0px auto;font-size:12px;color:#505050;background:url(../images/wireless_dingtong/wx_dingdong.png) repeat-x 0px -36px;position:relative;z-index:3;}
.LineDingtong_Qu .logo_dt_wuxian{display:block;width:128px;height:36px;line-height:150px;font-size:0px;background:url(../images/wireless_dingtong/wx_dingdong.png) no-repeat 0px 0px;overflow:hidden;}
.LineDingtong_Qu .jie{padding:0px 4px 0px 4px;}
.LineDingtong_Qu .dtside_a{width:200px;float:left;}
.LineDingtong_Qu .dtside_b{width:380px;float:left;}
.LineDingtong_Qu .dtside_c{width:400px;float:left;text-align:right;}
.LineDingtong_Qu a{color:#505050;text-decoration:none;}

.LineDingtong_Qu  .ding_guanzhu{ margin:0px 10px;}
.LineDingtong_Qu  .ding_guanzhu a{display:inline-block;font-size:0;width:16px;height:22px;line-height: 46px;margin:6px 3px;overflow: hidden;vertical-align: middle;background:url(../images/wireless_dingtong/sprite_dingtong.png) 0 0 no-repeat;}
.LineDingtong_Qu  a.ding_wei_sina{ background-position: 0px 0px;margin-left:6px;}
.LineDingtong_Qu  a.ding_wei_qq{ background-position: 0px -22px;}
.LineDingtong_Qu  a.ding_wei_xin{ background-position: 0px -44px;}
.LineDingtong_Qu .weixinpopGroup { position:absolute;left:730px;top:28px; z-index:99999999;width:147px; height:182px;  background:url(../images/wireless_dingtong/weixintu.png)  no-repeat;  } 