.c-nav {
    opacity: 0.7;
    position: absolute;
    z-index: 99999;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}
.c-nav:hover {
    opacity: 1;
}
body.is-loaded .c-nav {
    opacity: 1
}
.c-nav__content {
    background: rgba(0, 0, 0, .75);
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: -webkit-linear-gradient(bottom, #000 25%, transparent 100%);
    background: linear-gradient(to top, #000 25%, transparent 100%);
    -webkit-transition: .3s;
    transition: .3s
}

@media (min-height: 480px) {
    .c-nav__content {
        /*padding-bottom: 60px;*/
    }
}
.no-cssgradients .c-nav__content {
    background: rgba(0, 0, 0, .9);
    padding-bottom: 30px
}
.no-csstransforms .c-nav__content {
    bottom: 100%
}
.c-nav.is-active .c-nav__content {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1
}
.no-csstransforms .c-nav.is-active .c-nav__content {
    top: 0;
    bottom: auto
}
.c-nav__toggle {
    margin: 34px 10px 0 0;
    border: 1px solid #8da7a1;
    outline: 0;
    width: 34px;
    height: 34px;
    padding: 2px 0 0;
    position: fixed;
    top: 40px;
    right: 0;
    z-index: 1
}
@media (min-width: 768px) {
    .c-nav__toggle {
        margin-right: 20px
    }
}
.c-nav__section {
    margin-top: 1em
}
@media (min-width: 768px) {
    .c-nav__section {
        margin: 0;
        float: left
    }
}
@media (min-width: 768px) {
    .c-nav__section--right {
        float: right
    }
}
.c-nav__list {
    margin-bottom: 1px;
    padding: 5px 10px;    
}
.c-nav__list:after,
.c-nav__list:before {
    content: ' ';
    display: table
}
.c-nav__list:after {
    clear: both
}
.c-nav__list-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
    color: #5a6764
}
.c-nav__icon-bag {
    background: url(../img/bag.png) center no-repeat;
    width: 50px;
    height: 50px;    
}
.c-nav__icon-coin {
    background: url(../img/coin.png) center no-repeat;
    width: 50px;
    height: 50px;    
}
@media (min-width: 768px) {
    .c-nav__list-item {
        padding: 0 5px
    }
}
.c-nav__list-item.is-current {
    text-decoration: underline
}
.c-nav__list-item--divider {
    margin-right: 1px;
    position: relative
}
.c-nav__list-item--divider:after {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    margin-top: -20px;
    background: -webkit-linear-gradient(top, transparent 0, rgba(149, 175, 169, .2) 50%, transparent 100%);
    background: linear-gradient(to bottom, transparent 0, rgba(149, 175, 169, .2) 50%, transparent 100%);
    position: absolute;
    right: 50%;
    top: 50%
}
.c-nav__list-link {
    display: block;
    color: #DAAB46;
    font-family: beaufort;
    font-size: 14px;
    padding: 4px;
    text-shadow: 0 0 3px rgba(8, 114, 239, 0.9);
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s
}
@media (min-width: 1200px) {
    .c-nav__list-link {
        /*padding: 0 3px*/
    }
}
a.c-nav__list-link:active,
a.c-nav__list-link:focus,
a.c-nav__list-link:hover {
    color: #fff;
    text-decoration: none
}
.c-nav__list-link--plain {
    color: #5a6764;
    font-family: spiegel;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0
}
.c-nav__list-svg {
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    fill: currentColor
}
.c-nav__champion {
    position: relative;
    margin-bottom: 10px;
    width: 42px;
    text-align: center
}
@media (min-width: 768px) {
    .c-nav__champion {
        margin: 0
    }
}
.c-nav__champion-title {
    margin: 2px 0 0
}
@media (min-width: 768px) {
    .c-nav__champion-title {
        height: 0;
        text-align: center;
        position: absolute;
        top: 100%;
        width: 60px;
        left: 50%;
        margin-left: -30px
    }
}

.c-controls {
    font-family: spiegel;
    font-size: 14px
}
.c-controls__item {
    display: inline-block
}
.c-controls__item--divider:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    width: 1px;
    height: 22px;
    background: -webkit-linear-gradient(top, transparent 0, #94afa9 50%, transparent 100%);
    background: linear-gradient(to bottom, transparent 0, #94afa9 50%, transparent 100%)
}
.no-cssgradients .c-controls__item--divider:before {
    background: #3a372f
}
.c-controls__link {
    display: inline-block;
    padding: 10px;
    border: 0;
    outline: 0;
    background: 0 0;
    color: #94afa9
}
@media (min-width: 768px) {
    .c-controls__link {
        padding: 0 5px
    }
}
.c-controls__link:active,
.c-controls__link:focus,
.c-controls__link:hover {
    color: #fff;
    text-decoration: none
}
.c-controls__icon {
    vertical-align: middle
}
.c-controls__icon path,
.c-controls__icon polygon {
    fill: currentColor;
    -webkit-transition: .3s;
    transition: .3s
}

.c-legal {
    padding: 200px 0 40px;
    width: 100%;
    background: -webkit-linear-gradient(top, transparent 0, #000 50%);
    background: linear-gradient(to bottom, transparent 0, #000 50%);
    font-family: spiegel;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: .3s;
    transition: .3s
}
.no-cssgradients .c-legal {
    background: rgba(0, 0, 0, .9);
    padding-top: 40px
}
.no-csstransforms .c-legal {
    top: 100%;
    bottom: auto
}
.c-legal.is-active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}
.no-csstransforms .c-legal.is-active {
    top: auto;
    bottom: 0
}
.c-legal__content {
    font-size: 11px;
    color: #94afa9;
    text-align: center;
    width: 100%
}
.c-legal__content:after,
.c-legal__content:before {
    content: ' ';
    display: table
}
.c-legal__content:after {
    clear: both
}
.c-legal__content a {
    color: #93e3d9
}
.c-legal__content-block {
    float: left;
    width: 100%
}
@media (min-width: 768px) {
    .c-legal__content-block {
        width: 50%
    }
}
@media (min-width: 768px) {
    .c-legal__content-block--small {
        width: 25%
    }
}
.c-legal__links {
    margin: 0 0 20px;
    color: #646464;
    text-transform: uppercase
}
.c-footer {
    opacity: 0;
    padding: 5px;
    width: 100%;
    border: 0;
    background: #000;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 6;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: .3s;
    transition: .3s
}
@media (min-width: 768px) {
    .c-footer {
        width: auto;
        background: 0 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}
@media (min-width: 1200px) {
    .c-footer {
        padding: 10px 20px
    }
}
.c-footer:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: -webkit-linear-gradient(left, #459784 0, #255147 100%);
    background: linear-gradient(to right, #459784 0, #255147 100%);
    position: absolute;
    left: 0;
    top: 0
}
@media (min-width: 768px) {
    .c-footer:before {
        display: none
    }
}
.c-footer.is-active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}
body.is-loaded .c-footer {
    opacity: 1
}
.c-footer__trigger {
    cursor: pointer;
    padding: 5px;
    width: 100%;
    background: #000;
    border: 0;
    color: #ba9a6f;
    position: absolute;
    bottom: 100%;
    left: 0
}
@media (min-width: 768px) {
    .c-footer__trigger {
        display: none
    }
}
.c-footer__trigger:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: -webkit-linear-gradient(left, #459784 0, #255147 100%);
    background: linear-gradient(to right, #459784 0, #255147 100%);
    position: absolute;
    left: 0;
    top: 0
}
.c-footer__trigger-icon {
    display: inline-block;
    margin-bottom: -.1em;
    height: 1em;
    line-height: 1;
    fill: #459784;
    -webkit-transition: .3s;
    transition: .3s
}
.c-footer.is-active .c-footer__trigger-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
.u-text-primary {
    color: #00f
}
.u-text-secondary {
    color: red
}
.u-text-grey-50 {
    color: #7f7f7f
}
.u-text-center {
    text-align: center
}
.u-embellish {
    display: inline-block;
    font-family: Garamond, serif;
    font-style: italic;
    text-transform: lowercase;
    letter-spacing: 0;
    position: relative;
    left: -.1em
}
.u-img-respond {
    max-width: 100%;
    height: auto
}
.u-img-full {
    width: 100%;
    height: auto
}
.u-hidden {
    display: none
}
@media screen {
    .u-hidden\@screen {
        display: none
    }
}
@media print {
    .u-hidden\@print {
        display: none
    }
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .u-hidden\@high-res {
        display: none
    }
}
@media (min-width: 480px) {
    .u-hidden\@xs {
        display: none
    }
}
@media (max-width: 479px) {
    .u-hidden\@less-than-xs {
        display: none
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .u-hidden\@xs-only {
        display: none
    }
}
@media (min-width: 768px) {
    .u-hidden\@sm {
        display: none
    }
}
@media (max-width: 767px) {
    .u-hidden\@less-than-sm {
        display: none
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .u-hidden\@sm-only {
        display: none
    }
}
@media (min-width: 1024px) {
    .u-hidden\@md {
        display: none
    }
}
@media (max-width: 1023px) {
    .u-hidden\@less-than-md {
        display: none
    }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .u-hidden\@md-only {
        display: none
    }
}
@media (min-width: 1200px) {
    .u-hidden\@lg {
        display: none
    }
}
@media (max-width: 1199px) {
    .u-hidden\@less-than-lg {
        display: none
    }
}
@media screen and (min-width: 1200px) and (max-width: 1499px) {
    .u-hidden\@lg-only {
        display: none
    }
}
@media (min-width: 1500px) {
    .u-hidden\@xl {
        display: none
    }
}
@media (max-width: 1499px) {
    .u-hidden\@less-than-xl {
        display: none
    }
}
@media (min-height: 480px) {
    .u-hidden\@short {
        display: none
    }
}
@media (max-height: 479px) {
    .u-hidden\@less-than-short {
        display: none
    }
}
@media screen and (min-height: 480px) and (max-height: 767px) {
    .u-hidden\@short-only {
        display: none
    }
}
@media (min-height: 768px) {
    .u-hidden\@medium {
        display: none
    }
}
@media (max-height: 767px) {
    .u-hidden\@less-than-medium {
        display: none
    }
}
@media screen and (min-height: 768px) and (max-height: 899px) {
    .u-hidden\@medium-only {
        display: none
    }
}
@media (min-height: 900px) {
    .u-hidden\@tall {
        display: none
    }
}
@media (max-height: 899px) {
    .u-hidden\@less-than-tall {
        display: none
    }
}
@media screen and (min-height: 900px) and (max-height: 1099px) {
    .u-hidden\@tall-only {
        display: none
    }
}
@media (min-height: 1100px) {
    .u-hidden\@taller {
        display: none
    }
}
@media (max-height: 1099px) {
    .u-hidden\@less-than-taller {
        display: none
    }
}
.u-sr-only {
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    position: absolute
}
body.riotbar-present.riotbar-present {
    margin-top: 0!important;
    padding-top: 40px
}
#riotbar-bar[id=riotbar-bar] {
    position: fixed;
    top: 0
}
#riotbar-subbar[id=riotbar-subbar] {
    position: fixed;
    top: 40px
}
#riotbar-alerts {
    top: 40px!important
}