@charset "utf-8";
/* layout元素 */
body{font-family: "微软雅黑";font-size:12px;text-align:left;padding:0px 0px 0px 0px;margin:0px;   }
img{border:0px;}
.clear{clear:both;font-size:0px;padding:0px;margin:0px;height:0px;line-height:0px;}
div,ul,ol,li,dl,dd,form,p,h1,h2{padding:0px 0px 0px 0px;margin:0px;border:0px;}
ul{list-style:none;}
 a { text-decoration:none; color:#533619; } 
 a:hover { text-decoration: underline;  } 
.TopCite5Bar{padding:0px 0px 0px 0px;text-align:center;background:#fff;width:100%;  }
.TopCite5Bar img{ vertical-align:top;  }
/*统一头部*/

/* 首页布局元素 */
.TieYinBar  {background:#000 url(../splash/tieyin_bg.jpg) no-repeat center 0px;} 
.TieYinGroup {background:#000;  margin:0px auto;	width:1000px;  	}   
.meizong_1 {height:200px; position:relative; }
.meizong_2 {height:200px;}
.meizong_3 {height:200px;}
.meizong_4 {background:url(../splash/tieyin_tus_04.jpg) no-repeat center 0px;  height:200px;}
.meizong_5 {background:url(../splash/tieyin_tus_05.jpg) no-repeat center 0px;  height:160px;}
.meizong_6 {background:url(../splash/tieyin_tus_06.jpg) no-repeat center 0px;  height:120px;}

.meizong_1 .flash_king {  position: absolute;left:0px; top:0px; } 
  
.navGroup { padding:40px 0px 0px 0px; text-align:center;}
.navBox{  text-align:center;} 
.navBox  a{display:inline-block;width:212px;height:100px;line-height:260px; margin-right:20px;overflow:hidden;background:url(../splash/navtu.jpg) no-repeat;text-align:center;}
.navBox  .n1 {background-position:0 0px;}
.navBox  .n2 {background-position:-230px 0px; margin-right:17px;}
.navBox  .n3 {background-position:-450px 0px;} 
.navBox  .n1:hover{background-position:0 -100px;}
.navBox  .n2:hover{background-position:-230px -100px;}
.navBox  .n3:hover{background-position:-450px -100px;}

.videobofangqu { width:0px; height:0px; overflow:hidden; }
 
/*页面尾部区*/ 
.footBar{text-align:center;line-height:23px;color:#525866;padding: 0px 0;  }
.footBar a{color:#525866;text-decoration:none; margin:0 4px;}
.footBar a:hover{text-decoration:underline;}
.footBar .jkz {color:#75787d;}
.footBar .ft_tuijian {color:#b5b9c2;}
.footBar .ft_tuijian a {color:#b5b9c2;}
.footBar .recomend_games{color:#e27500; padding:2px 0px; }
.footBar .recomend_games a{color:#e27500;padding:0 5px;}
 
/*弹窗*/
.btn_p_close, .btn_p_tijiao, .btn_p_can { display:inline-block; width:126px; height:48px; font-size:0px; line-height:100px; overflow:hidden;background:url(../splash/sprite_btn.gif) no-repeat; border:none; cursor:pointer;  }
.btn_p_close { width:37px; height:37px; background-position:-44px 0px; }
.btn_p_close:hover {  background-position:0px 0px; }
.btn_p_tijiao {  background-position:0px -38px; }
.btn_p_tijiao:hover {  background-position:0px -87px; }
.btn_p_can {  background-position:0px -136px; }
.btn_p_can:hover {  background-position:0px -185px; }

.PopTieBar { width:597px; background:#000; border:1px solid #363c40;  padding:1px;   }
.PopTieNeiBar {position:relative;   padding:10px 0px 10px 0px; background:#000; border:1px solid #0e0f11;   zoom:1;  color:#888b8e;  font-size:14px;  }
.PopTieNeiBar .CloseGroup{position: absolute; z-index:555; width:37px; height:37px;  right:3px; top:3px; }
.tanbt { text-align:center; padding:21px 0px 10px 0px;}

.PopVideoGroup {  z-index:5; padding-top:37px; }

.PopYuyaoGroup {  padding:0px 20px 0px 20px;}
.PopYuyaoGroup .yao_nr{  padding:13px 20px 0px 129px;}
.PopYuyaoGroup .yao_oknr{  padding:13px 10px 30px 10px; line-height:29px;}
.PopYuyaoGroup .yao_oknr .juzhong{   text-align:center; } 
.PopYuyaoGroup .yao_shu{  padding:7px 0px 7px 0px;}
.PopYuyaoGroup .yao_btn{  padding:33px 0px 23px 87px;}
.PopYuyaoGroup .yu_s{  padding-right:10px;}
.PopYuyaoGroup .yu_in{  width:200px; height:25px; line-height:25px; padding:0 5px; border:none; background:#666; color:#fff; }
.PopYuyaoGroup .huoyanzm{  padding-left:5px; font-size:12px; color:#848589; text-decoration:underline;  }

.PopWeihodoGroup {  padding:0px 20px 0px 20px;}
.weihobt { padding:10px  0px 20px 0px;  font-size:18px; color:#fff;  text-align:center;  background:url(../splash/tan_bt_bg.jpg) no-repeat center bottom; }
.weiho_nr  { font-size:12px; color:#b5b8bb;  padding:20px 10px 20px 10px; line-height:25px; }
.weiho_nr  .huo_sx{  color:#fff; padding-right:7px; }
.weiho_nr  .tese{  color:#5092d5; }
.weiho_nr  .huo_ha{padding:0px  0px 0px 60px;  }
.weiho_nr  .huo_btn{padding:10px 0px 10px  0px; text-align:center;    }
.weiho_nr  .huo_hp{  padding:20px  0px 20px 60px;  }
.weiho_nr  .huo_hp .tanic{  padding:3px; border:1px solid #444950; background:#000;    } 