

.beginners, .apprentices, .leading{
    opacity:0;
    visibility:hidden;
}

.apprentices {
    position: relative;
    top:-1px;
}

.leading{
    position: relative;
    top:-2px;
}
.feature__wrapper:after,
.secondary-features:after,
.feature__wrapper:before,
.secondary-features:before {
    content: ' ';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10
}
.feature__wrapper:after,
.secondary-features:after {
    bottom: 0;
    background-image: url("../../s2games.exceda.com/images/ui/radial-gradient-200-dark.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 4px
}
.feature__wrapper:before,
.secondary-features:before {
    bottom: -2px;
    background-image: url("../../s2games.exceda.com/images/ui/radial-gradient-200-peach.png");
    background-position: center -2px;
    background-repeat: no-repeat;
    background-size: 100% 4px
}
.tertiary-features__item:after,
.tertiary-features__item:before {
    content: ' ';
    display: block;
    height: 100%;
    margin-bottom: -30px;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 10
}
.tertiary-features__item:after {
    background-image: url("../../s2games.exceda.com/images/ui/radial-gradient-200-dark.png");
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 4px 200%;
    right: 0
}
.tertiary-features__item:before {
    background-image: url("../../s2games.exceda.com/images/ui/radial-gradient-200-peach.png");
    background-position: -2px 100%;
    background-repeat: no-repeat;
    background-size: 4px 200%;
    right: -2px
}
.feature__wrapper {
    display: block;
    height: 419px;
    margin-top: -22px;
    position: relative;
    width: 100%
}
.feature__item {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: opacity 3s, -webkit-transform 2s, visibility 3s;
    transition: opacity 3s, transform 2s, visibility 3s;
    visibility: hidden;
    width: 100%;
    z-index: 5
}
.feature__item--4-12_carousel {
    background-image: url("../../img/landing/carousel/4.12_carousel.png")
}
.feature__item--reveal_carousel {
    background-image: url("../../img/landing/carousel/reveal_carousel.png")
}
.feature__item--friday_feed_carousel {
    background-image: url("../../img/landing/carousel/friday_feed_carousel.png")
}
.feature__item--4-11_carousel {
    background-image: url("../../img/landing/carousel/4-11_carousel.png")
}
.feature__item--4-10_carousel {
    background-image: url("../../img/landing/carousel/4-10_carouselc4ca.png?1")
}
.feature__item--carousel-thanksgiving {
    background-image: url("../../img/landing/carousel/carousel-thanksgiving.png")
}
.feature__item--devblog-touchbase {
    background-image: url("../../img/landing/carousel/devblog-touchbasec4ca.png?1")
}
.feature__item--zaku-patch-notes-4-8 {
    background-image: url("../../img/landing/carousel/patch-notes-4-8c4ca.png?1")
}
.feature__item--zaku-teaser {
    background-image: url("../../img/landing/carousel/zaku-teaser.png")
}
.feature__item--pets-teaser {
    background-image: url("../../img/landing/carousel/pets-teaser.png")
}
.feature__item--keyori-announcement {
    background-image: url("../../img/landing/carousel/keyori-visit.png")
}
.feature__item--pets-patch-notes-4-7 {
    background-image: url("../../img/landing/carousel/patch-notes-4-7.png")
}
.feature__item--pets-rivalry {
    background-image: url("../../img/landing/carousel/pets-rivalry.png")
}
.feature__item--pets-patch-notes {
    background-image: url("../../img/landing/carousel/pets-patch-notes.png")
}
.feature__item--spooky-dyes {
    background-image: url("../../img/landing/carousel/caprice.png")
}
.feature__item--5v5 {
    background-image: url("../../img/landing/carousel/5v5-background.png")
}
.feature__item--competitive {
    background-image: url("../../img/landing/carousel/competitive.png")
}
.feature__item--70-winner {
    background-image: url("../../img/landing/carousel/70-winner.png")
}
.feature__item--devblog-tim {
    background-image: url("../../img/landing/carousel/devblog-tim.png")
}
.feature__item.is-visible {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    visibility: visible
}
.feature__item--text {
    bottom: 30px;
    left: 0;
    max-width: 60%;
    position: absolute;
    text-shadow: 0 0 30px #000, 0 0 15px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5)
}
.feature__item--text h1 {
    background: none;
    color: #fff;
    font-size: 40px;
    font-size: 4rem;
    font-weight: bold;
    height: auto;
    min-width: auto;
    margin: 0 0 5px 0;
    padding: 0;
    text-shadow: 0 0 30px #000, 0 0 15px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5)
}
.feature__item--text h1 a {
    text-decoration: none;
    color: #eee
}
.feature__item--text p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0;
    margin: 0
}
.feature__item a {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 9
}
.feature__sidebar {
    background: rgba(11, 26, 37, 0.9);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(62, 53, 53, 0.2);
}
.feature__sidebar {
    border-radius: 8px;
    top: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 300px;
    padding: 10px 15px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 10
}
.feature__sidebar .button--getting-started {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    width: 100%
}
.feature__sidebar .button--getting-started strong {
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: 800
}
.feature__navigation {
    font-size: 0;
    bottom: -5px;
    left: -8px;
    padding: 10px;
    position: absolute;
    width: auto;
    z-index: 10
}
.button {
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-size: 1.6rem;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    margin: 0;
    opacity: 1;
    outline: none;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition: background 0.25s, opacity 1s, visibility 1s;
    transition: background 0.25s, opacity 1s, visibility 1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    visibility: visible
}
.button.button-exlarge {
    font-size: 24px;
    font-size: 2.4rem;
    padding: 14px 24px
}
.button.button-large {
    font-size: 16px;
    font-size: 1.6rem;
    padding: 10px 20px
}
.button.button-small {
    padding: 6px 15px
}
.button.button-blue,
.button.button--blue {
    background-color: #0F2F44;
    background-image: -webkit-linear-gradient(270deg, rgba(93, 137, 157, 0.33), rgba(15, 47, 68, 0.33));
    background-image: linear-gradient(180deg, rgba(93, 137, 157, 0.33), rgba(15, 47, 68, 0.33));
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.17), inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.34);
    color: #fff
}
.button.button-blue:hover,
#preferred-payment-methods .payment-option:focus .button.button-blue,
.button.button-blue:focus,
.button.button--blue:hover,
.button.button--blue:focus {
    background-color: #1D405C
}
.button.button-blue:active,
.button.button--blue:active {
    background-color: #1D405C
}
.button.button--dark-blue {
    background-color: rgba(36, 86, 110, 0.5);
    background-image: -webkit-linear-gradient(270deg, rgba(93, 137, 157, 0.33), rgba(0, 36, 55, 0.33));
    background-image: linear-gradient(180deg, rgba(93, 137, 157, 0.33), rgba(0, 36, 55, 0.33));
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 2px 4px rgba(0, 0, 0, 0.34);
    color: #fff
}
.button.button--dark-blue:hover,
.button.button--dark-blue:focus {
    background-color: rgba(42, 101, 129, 0.5)
}
.button.button--dark-blue:active {
    background-color: rgba(30, 71, 91, 0.5)
}
.button.button-green,
div.radio span.checked:after,
.header-separator .account-options a.invite-friends .invites {
    background-color: #6da440;
    background-image: -webkit-linear-gradient(270deg, rgba(193, 242, 157, 0.33), rgba(23, 85, 12, 0.33));
    background-image: linear-gradient(180deg, rgba(193, 242, 157, 0.33), rgba(23, 85, 12, 0.33));
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 2px 4px rgba(0, 0, 0, 0.34);
    color: #fff
}
.button.button-green:hover,
div.radio span.checked:hover:after,
.header-separator .account-options a.invite-friends .invites:hover,
.button.button-green:focus,
div.radio span.checked:focus:after,
.header-separator .account-options a.invite-friends .invites:focus {
    background-color: #7eba4e
}
.button.button-green:active,
div.radio span.checked:active:after,
.header-separator .account-options a.invite-friends .invites:active {
    background-color: #619239
}
.button.button-purple {
    background-color: #8c49de;
    background-image: -webkit-linear-gradient(270deg, rgba(213, 172, 255, 0.33), rgba(40, 0, 171, 0.33));
    background-image: linear-gradient(180deg, rgba(213, 172, 255, 0.33), rgba(40, 0, 171, 0.33));
    box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.35), 0 0 10px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.7);
    color: #fff
}
.button.button-purple:hover,
.button.button-purple:focus,
.panels__links--item:hover .button.button-purple {
    background-color: #a774e6
}
.button.button-purple:active {
    background-color: #6d24c6
}
.button.button-red {
    background-color: #992e00;
    background-image: -webkit-linear-gradient(270deg, rgba(238, 90, 0, 0.33), rgba(61, 13, 0, 0.33));
    background-image: linear-gradient(180deg, rgba(238, 90, 0, 0.33), rgba(61, 13, 0, 0.33));
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 2px 4px rgba(0, 0, 0, 0.34);
    color: #fff
}
.button.button-red:hover,
.gem-package:hover .button.button-red,
.button.button-red:focus {
    background-color: #bd3900
}
.button.button-red:active {
    background-color: #802600
}
.button.button-fuscia {
    background-color: #c1183c;
    background-image: -webkit-linear-gradient(270deg, rgba(238, 90, 0, 0.33), rgba(61, 13, 0, 0.33));
    background-image: linear-gradient(180deg, rgba(238, 90, 0, 0.33), rgba(61, 13, 0, 0.33));
    box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.35), 0 0 10px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.7);
    color: #fff
}
.button.button-fuscia:hover,
.button.button-fuscia:focus,
.panels__links--item:hover .button.button-fuscia {
    background-color: #e42850
}
.button.button-fuscia:active {
    background-color: #8b112b
}
.button.button-flat {
    background: rgba(116, 131, 139, 0.6);
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 13.5px;
    font-size: 1.35rem;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    padding: 0 12px 1px 12px;
    text-shadow: none
}
.button.button-flat:hover {
    background: rgba(116, 131, 139, 0.8)
}
body .feature__navigation {
    margin: 0
}
.feature__navigation--item {
    background: rgba(11, 26, 37, 0.3);
    border: 2px solid rgba(204, 237, 251, 0.5);
    border-radius: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 0 10px 0 0;
    -webkit-transition: box-shadow 0.5s, background 0.5s, border 0.5s;
    transition: box-shadow 0.5s, background 0.5s, border 0.5s;
    width: 12px
}
.feature__navigation--item:last-child {
    margin-right: 0
}
.feature__navigation--item.is-active {
    background: #0caed7;
    border: 0 none;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2)
}
.cta-button-links .button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    padding: 15px 5px;
    text-align: center;
    width: 100%
}
.cta-button-links .button:last-child {
    margin-bottom: 0
}
.cta-button-links .button-blue {
    color: #97b6cc;
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 600
}
.cta-button-links .button-green {
    padding: 15px 5px 10px 5px
}
.cta-button-links .button strong {
    color: #fff;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 700
}
.secondary-features {
    padding: 20px 0 5px 0;
    position: relative;
    text-align: center
}
.secondary-features ul {
    font-size: 0
}
.secondary-features__item {
    display: inline-block;
    margin-right: 30px;
    max-width: 300px;
    text-align: left;
    vertical-align: top;
    width: 100%
}
.secondary-features__item .text {
    padding: 5px;
    /*justify-content: center;
    text-align: justify-all;*/
    border: 2px solid transparent;
    border-radius: 4px;    
}

.secondary-features__item .text h2{
    margin-top: 2px;
}

.secondary-features__item a {
    color: #838383;
    display: block;
    /*position: relative;*/
    text-align: left;
    text-decoration: none;
}
/*
.secondary-features__item a:hover .read-more {
    color: #a7e3b4
}

.secondary-features__item a .read-more {
    color: #5aca72;
    display: block;
    font-weight: 700;
    -webkit-transition: color 0.25s;
    transition: color 0.25s
}*/
.secondary-features__item a.app-store-link {
    display: inline
}
.secondary-features__item h2 {
    color: #fff;
    font-size: 18px;
    font-size: 1.8rem;
    margin: 10px 0 5px 0
}
.secondary-features__item p {
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 0
}
.secondary-features__item:last-child {
    margin: 0
}
.tertiary-features {
    display: table
}
.tertiary-features__item {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    padding: 25px 30px 0 30px;
    position: relative;
    width: 33.33%
}
.tertiary-features__item:first-child {
    padding-left: 0
}
.tertiary-features__item:last-child {
    padding-right: 0
}
.tertiary-features__item:last-child:after,
.tertiary-features__item:last-child:before {
    display: none
}
.tertiary-features__item h3 {
    color: #8cb5cf;
    font-size: 20px;
    font-size: 2rem;
    margin: 0 0 15px 0;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4)
}
.tertiary-features__item--video {
    text-align: center
}
.tertiary-features__item--video h3 {
    margin-bottom: 20px
}
.tertiary-features__item--recent-news {
    text-align: center
}
.tertiary-features__buttons {
    text-align: center
}
.tertiary-features .video-link {
    background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
    height: 128px;
    max-width: 241px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.3);
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    width: 100%
}
.tertiary-features .video-link--ace {
    background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../s2games.exceda.com/images/video/thumbnails/hero-how-to/ace.jpg") center center no-repeat;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../s2games.exceda.com/images/video/thumbnails/hero-how-to/ace.jpg") center center no-repeat
}
.tertiary-features .video-link:hover {
    color: #fff
}
.tertiary-features .video-link:hover .description:before {
    opacity: 1
}
.tertiary-features .video-link .description {
    display: block;
    position: relative;
    text-align: center;
    top: 30px;
    width: 100%;
    vertical-align: middle
}
.tertiary-features .video-link .description:before {
    background: url("../../s2games.exceda.com/images/ui/video-play-icon.png");
    background-size: contain;
    content: ' ';
    display: block;
    height: 50px;
    margin: 0 auto 5px auto;
    opacity: 0.6;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    width: 50px
}
.tertiary-features .recent-additions {
    margin: 0
}
.tertiary-features .recent-additions__item {
    line-height: 20px;
    line-height: 2rem;
    margin: 0 0 10px 0
}
.tertiary-features .recent-additions__item:last-child {
    margin-bottom: 0
}
.tertiary-features .recent-additions__item a {
    border: 2px solid transparent;
    border-radius: 4px;
    color: #dbdbdb;
    display: block;
    font-size: 14.5px;
    font-size: 1.45rem;
    overflow: auto;
    padding: 5px;
    text-decoration: none;
    -webkit-transition: border 0.25s, background 0.25s;
    transition: border 0.25s, background 0.25s
}
.tertiary-features .recent-additions__item a:before {
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
    background-size: contain;
    content: ' ';
    display: block;
    float: left;
    height: 60px;
    margin: 0 10px 0 0;
    width: 60px
}
.tertiary-features .recent-additions__item a strong {
    color: #8cb5cf;
    font-weight: 700
}
.tertiary-features .recent-additions__item a:hover {
    background: rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1)
}
.tertiary-features .recent-additions__item--hero a:before {
    border-radius: 4px
}
.tertiary-features .recent-additions__item--pet a:before {
    border-radius: 50%
}
.tertiary-features .recent-additions__item--ace a:before {
    background-image: url("../../s2games.exceda.com/images/heroes/ace.jpg")
}
.tertiary-features .recent-additions__item--fitz a:before {
    background-image: url("../../s2games.exceda.com/images/pets/fitz/icon.png")
}
.tertiary-features .community, .tertiary-features .news {
    margin: 0
}
.tertiary-features .community__item, .tertiary-features .news__item {
    line-height: 18px;
    line-height: 1.8rem;
    margin: 0
}
.tertiary-features .community__item a, .tertiary-features .news__item a {
    border: 2px solid transparent;
    border-radius: 4px;
    display: block;
    padding: 5px;
    position: relative;
    text-decoration: none;
    -webkit-transition: background 0.25s, border 0.25s;
    transition: background 0.25s, border 0.25s
}
.tertiary-features .community__item a:hover, .tertiary-features .news__item a:hover {
    background: rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1)
}
.tertiary-features .community__item--sticky a:before, .tertiary-features .news__item--sticky a:before {
    background: url("../../s2games.exceda.com/images/forum-icon-sticky.png") center center no-repeat;
    background-size: contain;
    content: ' ';
    display: block;
    height: 22px;
    left: 5px;
    margin-top: -11px;
    position: absolute;
    top: 50%;
    width: 13px
}
.tertiary-features .community__item--title, .tertiary-features .news__item--title {
    color: #dbdbdb;
    display: block;
    font-size: 16px;
    font-size: 1.6rem
}
.tertiary-features .community__item--description, .tertiary-features .news__item--description {
    color: #7091a1;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 600
}
.tertiary-features .community__item--read-more, .tertiary-features .news__item--read-more {
    margin-top: 15px;
    text-align: center
}
.tertiary-features .community__item--read-more a, .tertiary-features .news__item--read-more a {
    border: none;
    border-radius: 30px;
    display: inline-block;
    padding: 0 12px 1px 12px
}
.tertiary-features .community__item--read-more a:hover, .tertiary-features .news__item--read-more a:hover {
    background: rgba(116, 131, 139, 0.8);
    border: none
}
#landing .recent-patch-notes {
    margin: 0 0 15px 0;
    text-align: center
}
#landing .recent-patch-notes__item {
    line-height: 18px;
    line-height: 1.8rem;
    margin: 0;
    text-align: left
}
#landing .recent-patch-notes__item a {
    border: 2px solid transparent;
    border-radius: 4px;
    display: block;
    padding: 5px;
    position: relative;
    text-decoration: none;
    -webkit-transition: background 0.25s, border 0.25s;
    transition: background 0.25s, border 0.25s
}
#landing .recent-patch-notes__item a:hover {
    background: rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1)
}
#landing .recent-patch-notes__item--title {
    color: #95b7cc;
    display: block;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700
}
#landing .recent-patch-notes__item--details {
    color: rgba(214, 231, 238, 0.9);
    font-weight: 400
}
#landing .recent-patch-notes__item--detail {
    display: inline-block;
    font-size: 12px;
    font-size: 1.2rem;
    margin-right: 5px
}
.sidebar__sections {
    font-size: 0;
    text-align: center
}
body .sidebar__sections {
    margin: 0;
    padding-left: 0;
}
.sidebar__sections--item {
    text-transform: capitalize;
    display: inline-block;
    margin: 15px 15px 0 0;
    width: 72px
}
body .sidebar__sections--item {
    margin-bottom: 0
}
.sidebar__sections--item:last-child {
    margin-right: 0
}
.sidebar__sections--item a {
    font-size: 4px;
    font-size: 0.4rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: color 0.25s;
    transition: color 0.25s
}
.sidebar__sections--item a:hover {
    color: #fff
}
.sidebar__sections--item a:hover:before {
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 15px rgba(195, 216, 227, 0.6)
}
.sidebar__sections--item a:before {
    border-radius: 7px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
    content: ' ';
    display: block;
    height: 99px;
    margin: 0 0 10px 0;
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    width: 100%
}
.sidebar__sections--item--heroes a:before {
    background-image: url("../../img/landing/cta-button-heroes.jpg");
    display: inline-block;
}
.sidebar__sections--item--pets a:before {
    background-image: url("../../img/landing/cta-button-pets.jpg");
    display: inline-block;
}
.sidebar__sections--item--items a:before {
    background-image: url("../../img/landing/cta-button-items.jpg");
    display: inline-block;
}
.media--strife-trailer .video-wrapper {
    background: #0b1a25;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
    padding: 5px
}
.media--strife-trailer .video-wrapper a {
    display: block;
    position: relative
}
.media--strife-trailer .video-wrapper a:after {
    background: url("../../s2games.exceda.com/images/ui/video-play-icon.png");
    background-size: contain;
    content: ' ';
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 50px
}
.media--strife-trailer .video-wrapper a:before {
    background: url("../../img/landing/tertiary-features/trailer-thumbnail.jpg");
    background-size: contain;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.4);
    content: ' ';
    display: block;
    padding-bottom: 50%
}
#items .filter-bar {
    margin: 0 0 20px 0
}
body #items .filter-bar__items {
    margin: 0
}
#items .filter-bar__item {
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 23px;
    opacity: 0.4;
    position: relative;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    width: 23px
}
#items .filter-bar__item--title {
    background: #bacfda;
    border-radius: 3px;
    color: #173645;
    font-size: 11.5px;
    font-size: 1.15rem;
    font-weight: 600;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    position: absolute;
    text-indent: 0;
    top: -10px;
    -webkit-transition: opacity 0.5s, top 0.5s, visibility 0.5s;
    transition: opacity 0.5s, top 0.5s, visibility 0.5s;
    visibility: hidden;
    width: 100px
}
#items .filter-bar__item--title:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #bacfda;
    bottom: -4px;
    content: ' ';
    position: absolute;
    height: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 0
}
#items .filter-bar__item:hover .filter-bar__item--title {
    opacity: 1;
    top: -30px;
    visibility: visible
}
body #items .filter-bar__item {
    margin: 0
}
#items .filter-bar__item:after {
    display: none
}
#items .filter-bar__item:hover,
#items .filter-bar__item.is-active {
    opacity: 1
}
#items .filter-bar__item--all {
    background-image: url("../../s2games.exceda.com/images/items/filters/all.png")
}
#items .filter-bar__item--magic-damage {
    background-image: url("../../s2games.exceda.com/images/items/filters/magic-damage.png")
}
#items .filter-bar__item--attack {
    background-image: url("../../s2games.exceda.com/images/items/filters/attack.png")
}
#items .filter-bar__item--mana {
    background-image: url("../../s2games.exceda.com/images/items/filters/mana.png")
}
#items .filter-bar__item--defense {
    background-image: url("../../s2games.exceda.com/images/items/filters/defense.png")
}
#items .filter-bar__item--utility {
    background-image: url("../../s2games.exceda.com/images/items/filters/utility.png")
}
#items .filter-bar__item--boots {
    background-image: url("../../s2games.exceda.com/images/items/filters/boots.png")
}
#items .filter-bar__item--consumable {
    background-image: url("../../s2games.exceda.com/images/items/filters/consumable.png")
}
#items h3 {
    color: rgba(174, 200, 211, 0.5);
    font-size: 16px;
    font-size: 1.6rem;
    margin: 20px 0 5px 0;
    text-align: center
}
.items {
    text-align: center
}
body .items {
    font-size: 0;
    padding: 0;
}
.items__item {
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    display: inline-block;
    height: 100px;
    line-height: 14px;
    line-height: 1.4rem;
    padding: 5px;
    text-align: center;
    width: 72px;
    vertical-align: top
}
#landing .recent-patch-notes {
    margin: 0 0 15px 0;
    text-align: center
}
#landing .recent-patch-notes__item {
    line-height: 18px;
    line-height: 1.8rem;
    margin: 0;
    text-align: left
}
#landing .recent-patch-notes__item a {
    border: 2px solid transparent;
    border-radius: 4px;
    display: block;
    padding: 5px;
    position: relative;
    text-decoration: none;
    -webkit-transition: background 0.25s, border 0.25s;
    transition: background 0.25s, border 0.25s
}
#landing .recent-patch-notes__item a:hover {
    background: rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1)
}
#landing .recent-patch-notes__item--title {
    color: #95b7cc;
    display: block;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700
}
#landing .recent-patch-notes__item--details {
    color: rgba(214, 231, 238, 0.9);
    font-weight: 400
}
#landing .recent-patch-notes__item--detail {
    display: inline-block;
    font-size: 12px;
    font-size: 1.2rem;
    margin-right: 5px
}
.sidebar__sections {
    font-size: 0;
    text-align: center
}
body .sidebar__sections {
    margin: 0
}
.media--strife-trailer .video-wrapper {
    background: #0b1a25;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
    padding: 5px
}
.media--strife-trailer .video-wrapper a {
    display: block;
    position: relative
}